<div class="responsive-table" role="region" aria-label="Scrollable Table" tabindex="0">
  <table class="table--bordered">
    <thead>
    <tr>
      <th>Table Heading 1</th>
      <th><a href="#">Table Heading 2</a></th>
      <th><h2>Table Heading 3</h2></th>
      <th><h2><a href="#">Table Heading 4</a></h2></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Table Cell 1</td>
      <td><a href="#">Table Cell 2</a></td>
      <td><h2>Table Cell 3</h2></td>
      <td><h2><a href="#">Table Cell 4</a></h2></td>
    </tr>
    <tr>
      <td>Table Cell 1</td>
      <td>Table Cell 2</td>
      <td>Table Cell 3</td>
      <td>Table Cell 4</td>
    </tr>
    </tbody>
  </table>
</div>