<div class="search-result">
  <h3 class="search-result__title"><a href="{{ url }}">{{ headline.medium }}</a></h3>
  <p>{{excerpt.short}}</p>
  <div class="search-result__info">{{> molecules-byline }} | {{ month.long }} {{ day.short }}, {{ year.long }}</div>
</div>
