<form action="{{ url }}" method="post" class="search-form {{ formClass }}">
  <label for="{{ search-field-id }}" class="u-hidden--visually">Search</label>
  <input type="input" placeholder="{{ placeholder }}..." id="{{ search-field-id }}" class="search-form__input {{ styleModifier }}" name="searchterm" value="{{ search-term }}">
  <input type="submit" class="search-form__submit" name="search" alt="Search" value="&#xf002; Submit">
</form>
