<section class="comments section">
  <div class="comments-container" id="comments-container">
    <h2 class="section-title">59 Comments</h2>
    {{> molecules-comment-form }}
    <ul class="list--comment">
      {{#each comments }}
        {{> molecules-single-comment }}
      {{/each }}
    </ul>
  </div>
  {{> molecules-pagination }}
</section>
