<div class="page l-header--fixed">
  {{> organisms-header }}
  <main class="l-main">

    <div class="panel">
      {{> molecules-brand-textbox styleModifier="category-brand--secondary"}}
      {{> molecules-hero-banner styleModifier="hero-banner--darken" }}
      <div class="l-container">
        {{> organisms-priority-links styleModifier="priority-links--boxed-offset" }}
      </div>
    </div>

    {{#if emergency }}
      {{> molecules-alert-error }}
    {{/if }}

    <div class="l-container">

      <section class="l-quad--third">
        {{#each contentAbove }}
          <div class="l-quad__region">
            <div class="panel o-box">{{> atoms-landscape-16x9 }}</div>
          </div>
        {{/each}}
      </section>

      <section class="l-basic--flipped panel panel--nested">
        <div class="l-content">
          <div class="panel o-box">
            {{> molecules-spotlight styleModifier="category-brand--redbud" }}
          </div>
          {{#each marketingHighlightFeatured.shortBurst }}
            <div class="panel o-box l-sibling-grid--half">
              {{> molecules-marketing-highlight }}
            </div>
          {{/each }}
          <div class="panel o-box">
            {{> atoms-video-youtube }}
          </div>
          <div class="panel o-box">
            {{> molecules-slideshow }}
          </div>
        </div>

        <div class="l-sidebar-second">
          <div class="panel panel--icon panel--icon-bullhorn o-box">
            <h2 class="panel__title">Upcoming Events</h2>
            {{> organisms-event-list }}
          </div>
          <div class="panel panel--icon panel--icon-bulb o-box">
            <h2 class="panel__title">Top Stories</h2>
            {{> organisms-article-list }}
          </div>
          {{#each focalLinks }}
            <div class="panel">
              {{> molecules-focal-link }}
            </div>
          {{/each }}
          <div class="panel o-box">
            <h2 class="panel__title">Follow Us</h2>
            {{> molecules-social-follow }}
          </div>
        </div>
      </section>

      <section class="l-quad">
        {{#each contentBelow }}
          <div class="l-quad__region">
            <div class="panel o-box">{{> atoms-landscape-16x9 }}</div>
          </div>
        {{/each}}
      </section>

    </div>

  </main>
  {{> organisms-footer }}
</div>
