<div class="page l-header--fixed">
  {{> organisms-header }}

  <main class="l-main">

    {{#if featuredImage }}
      {{> atoms-title-banner }}
    {{/if }}

    {{> organisms-page-title }}

    {{> molecules-breadcrumbs }}

    {{#if emergency }}
      {{> molecules-alert-error }}
    {{/if }}

    <div class="l-container l-basic--flipped">

      <div class="l-content">
        <div class="panel o-box">
          <h2 class="heading--underline">{{ headline.short }}</h2>
          <div class="u-align--right u-width--half">
            {{> molecules-figure-with-caption }}
          </div>
          {{ excerpt.long }}
          <h3>{{ headline.medium }}</h3>
          {{ excerpt.short }}

          <h2 class="heading--auxiliary">Documents</h2>
          {{> atoms-list-download }}

          <h2 class="heading--auxiliary">Tags</h2>
          {{> molecules-tags }}
        </div>
      </div>

      <div class="l-sidebar-second">
        <div class="panel o-box">
          {{> molecules-sub-nav }}
        </div>
        <div class="panel o-box">
          <h2 class="panel__title">Follow Us</h2>
          {{> molecules-social-follow }}
        </div>
      </div>

    </div>

  </main>
  {{> organisms-footer }}
</div>
