<div class="page l-header--fixed">
  {{> organisms-header }}

  <main class="l-main">

    {{> molecules-breadcrumbs }}

    <div class="l-container l-basic--flipped">

      <div class="l-content">
        <div class="panel o-box">
          <!-- Featured Image -->
          <div class="figcaption--left">
            <figure>
              {{> atoms-landscape-16x9 }}
              <figcaption>{{ figcaption }}</figcaption>
            </figure>
          </div>

          <h1 class="article__title">{{ title }}</h1>
          <h2 class="article__subtitle">{{ subTitle }}</h2>

          <ul class="list--pipe byline byline--italic">
            <li>{{> molecules-byline }}</li>
            <li>{{ month.long }} {{ day.short }}, {{ year.long }}</li>
          </ul>

          {{> molecules-social-share }}

          {{> molecules-quick-summary }}

          <div class="u-clearfix">
            {{> organisms-article-body }}
          </div>

          <h2 class="heading--auxiliary">Media Resources</h2>
          {{#each mediaResources }}
            <p>{{{ mediaResource }}}</p>
          {{/each}}

          {{#each singleCategory }}
            <h2 class="heading--auxiliary">Primary Category</h2>
            {{> molecules-tags }}
          {{/each }}

          {{#each multiCategory }}
            <h2 class="heading--auxiliary">Secondary Category</h2>
            {{> molecules-tags }}
          {{/each }}

          <h2 class="heading--auxiliary">Tags</h2>
          {{> molecules-tags }}
        </div>
      </div>

      <div class="l-sidebar-second">
        <div class="panel o-box">
          {{> molecules-card }}
        </div>
        <div class="panel o-box">
          <h2 class="panel__title">People</h2>
          {{#each peopleListShort }}
            {{> molecules-listing }}
          {{/each }}
        </div>
        <div class="panel o-box">
          <h2 class="panel__title">Categories</h2>
          {{> molecules-category-filter }}
        </div>
        <div class="panel o-box">
          <h2 class="panel__title">Related Articles</h2>
          {{> organisms-article-list }}
        </div>
      </div>

    </div>

  </main>
  {{> organisms-footer }}
</div>
