<div class="page l-header--fixed">
  {{> organisms-header }}

  <main class="l-main">

    {{> organisms-page-title }}

    {{> molecules-breadcrumbs }}

      <div class="l-container l-basic--flipped">

        <div class="l-content">
          <div class="panel o-box">
            {{> molecules-featured }}
          </div>
          <div class="panel o-box">
            <h2 class="panel__title">Latest News</h2>
            {{> organisms-latest-news }}
          </div>
        </div>

        <div class="l-sidebar-second">
          <div class="panel o-box">
            <h2 class="panel__title">Top Stories</h2>
            {{> organisms-article-list }}
          </div>
          <div class="panel o-box">
            <h2 class="panel__title">Categories</h2>
            {{> molecules-category-filter }}
          </div>
          <div class="panel o-box">
            <h2 class="panel__title">Tags</h2>
            {{> molecules-tags }}
          </div>
        </div>

      </div>

  </main>
  {{> organisms-footer }}
</div>
