<div class="page l-header--fixed event">
  {{> organisms-header }}

  <main class="l-main">

    {{> organisms-page-title }}

    {{> molecules-breadcrumbs }}

    <div class="l-container l-basic--flipped">

      <div class="l-content">
        <div class="panel o-box">
          <!-- Featured Image -->
          <div class="u-space-mb--large">
            {{> atoms-landscape-16x9 }}
          </div>
          <!-- Event date -->
          <h2 class="event__date">{{ event.date }} <span class="date-separator">@</span> <span class="date-time">{{ event.time }}</span></h2>
          <div class="u-space-mb--small">{{> molecules-dropdown }}</div>
          <div>
            <span class="icon icon--location event__location">{{ location }}</span>
          </div>
          <div>
            <a class="icon icon--link icon--map" href="{{ url }}">Map to Event</a>
          </div>

          <div class="u-space-mb">
            {{> molecules-social-share }}
          </div>

          <div class="u-clearfix">
            {{> organisms-event-body }}
          </div>

          <h2 class="heading--auxiliary">Documents</h2>
          {{> atoms-list-download styleModifier="u-space-mb--large" }}

          {{#each singleCategory }}
            <h2 class="heading--auxiliary">Category</h2>
            <div class="u-clearfix">
              {{> molecules-tags }}
            </div>
          {{/each }}

          <h2 class="heading--auxiliary">Tags</h2>
          {{> molecules-tags }}

        </div>
      </div>

      <div class="l-sidebar-second">
        <div class="panel o-box">
          <h2 class="panel__title">People</h2>
          {{#each peopleListShort }}
            {{> molecules-listing-person }}
          {{/each }}
        </div>
        <div class="panel o-box">
          <h2 class="panel__title">Upcoming Events</h2>
          {{> organisms-event-list }}
        </div>
        <div class="panel o-box">
          <h2 class="panel__title">Categories</h2>
          {{> molecules-category-filter }}
        </div>
      </div>

    </div>

  </main>
  {{> organisms-footer }}
</div>
