<div class="page l-header--fixed">
  {{> organisms-header }}

  <main class="l-main">

    {{> organisms-page-title }}

    {{> molecules-breadcrumbs }}

    <div class="l-container l-basic--flipped">

      <div class="l-sidebar-first">
        <div class="panel panel--mobile-collapse o-box">
          <h2 class="panel__title">Filter Results</h2>
          <div class="panel__content o-flow">
            <div>
              <label for="firstname">Event Name</label>
              <input type="text" id="firstname" placeholder="e.g. Picnic Day">
            </div>
            <div>
              <label for="start-date">Date Range Start</label>
              <input type="text" id="start-date" placeholder="Today">
            </div>
            <input type="submit" class="btn--primary-input" value="Apply Filter">
          </div>
        </div>
      </div>

      <div class="l-content">
        <div class="panel o-box">
          {{#each eventList }}
            {{> molecules-teaser-event }}
          {{/each }}
          {{> molecules-pagination }}
        </div>
      </div>

      <div class="l-sidebar-second">
        <div class="panel panel--mobile-collapse o-box">
          <h2 class="panel__title">Filter by Category</h2>
          <div class="panel__content">
            {{> molecules-category-filter }}
          </div>
        </div>
      </div>

    </div>

  </main>
  {{> organisms-footer }}
</div>
