<div class="page l-header--fixed">
  {{> organisms-header }}

  <main class="l-main">

    {{#if featuredImage }}
      {{> atoms-title-banner }}
    {{/if }}

    {{> organisms-page-title }}

    {{> molecules-breadcrumbs }}

    <div class="l-container">

      <div class="l-content">
        <div class="panel o-box">
          {{#each taxonomyResults }}
            {{> molecules-teaser-article }}
          {{/each }}
          {{> molecules-pagination }}
        </div>
      </div>

    </div>

  </main>
  {{> organisms-footer }}
</div>
