<div class="page l-header--fixed">
  {{> organisms-header }}

  <main class="l-main">

    {{> organisms-page-title title="Dr. Herbert Nafario, MD" }}

    {{> molecules-breadcrumbs }}

    <div class="l-container l-basic--flipped">

      <div class="l-content">
        <div class="panel o-box">
          {{> organisms-person-body }}

          <h2 class="heading--auxiliary">Documents</h2>
          {{> atoms-list-download }}
        </div>
      </div>

      <div class="l-sidebar-second">
        <div class="panel o-box">
          <h2 class="panel__title">Contributions</h2>
          {{> organisms-article-list }}
        </div>
      </div>

    </div>

  </main>
  {{> organisms-footer }}
</div>
