<div class="page l-header--fixed">
  {{> organisms-header }}

  <main class="l-main">

    {{> organisms-page-title }}

    {{> molecules-breadcrumbs }}

    <div class="l-container l-basic--flipped">

      <div class="l-sidebar-first">
        <div class="panel panel--mobile-collapse o-box">
          <h2 class="panel__title">Filter Results</h2>
          <div class="panel__content o-flow">
            <div>
              <label for="firstname">First Name</label>
              <input type="text" id="firstname">
            </div>
            <div>
              <label for="lastname">Last Name</label>
              <input type="text" id="lastname">
            </div>
            <div>
              <label for="position_title">{{ person.title.0.positionTitle }}</label>
              <input type="text" id="position_title">
            </div>
            <div>
              <label for="unit">{{ person.dept.0.unit }}</label>
              <input type="text" id="unit">
            </div>
            <div>
              <label for="type">{{ person.type }}</label>
              <select id="type" class="slim-select" multiple>
                <option value="1">Faculty</option>
                <option value="2">Researcher</option>
                <option value="3">Staff</option>
                <option value="4">Student</option>
              </select>
            </div>
            <input type="submit" class="btn--primary-input" value="Apply Filter">
          </div>
        </div>
      </div>

      <div class="l-content">
        <div class="panel o-box">
          {{#each peopleGroups }}
            <h2>{{ peopleGroupTitle }}</h2>
            {{#each peopleList }}
              {{> molecules-teaser-person }}
            {{/each }}
          {{/each}}
          {{> molecules-pagination }}
        </div>
      </div>

    </div>

  </main>
  {{> organisms-footer }}
</div>
