<div class="page l-header--fixed">
  {{> organisms-header }}

  <main class="l-main">

    {{> organisms-page-title }}

    {{> molecules-breadcrumbs }}

    <div class="l-container l-basic--flipped">

      <div class="l-sidebar-first">
        <div class="panel panel--mobile-collapse o-box">
          <h2 class="panel__title">Filters</h2>
          <div class="panel__content">
            <ul class="list--filter checkbox">
              {{#each filterList }}
                <li>
                  <input id="styled-checkbox{{@index}}" name="filter" type="checkbox">
                  <label for="styled-checkbox{{@index}}">{{ filter }} {{ filterNum }}</label>
                </li>
              {{/each }}
            </ul>
          </div>
        </div>
      </div>

      <div class="l-content">
        <div class="panel o-box">
          {{> molecules-search-form search-field-id="search-field-2" }}
        </div>
        <div class="panel o-box">
          {{> atoms-search-findings }}

          {{#each searchResultsList }}
            {{> molecules-search-result }}
          {{/each}}

          {{> molecules-pagination }}
        </div>
      </div>

    </div>

  </main>
  {{> organisms-footer }}
</div>
