<div class="page l-header--fixed">
  {{> organisms-header }}
  <main class="l-main">

    {{> organisms-page-title }}

    {{> molecules-breadcrumbs }}

    <div class="l-container">

      <div class="l-content">
        <div class="panel o-box">
          <div class="u-space-mb--large">
            {{> molecules-social-share }}
            <p>{{ excerpt.short }}</p>
          </div>

          {{> molecules-image-gallery }}

          {{#each singleCategory }}
            <h2 class="heading--auxiliary">Category</h2>
            {{> molecules-tags }}
          {{/each }}

          <h2 class="heading--auxiliary">Tags</h2>
          {{> molecules-tags }}
        </div>
      </div>

    </div>
  </main>
  {{> organisms-footer }}
</div>
