<div class="page l-header--fixed">
  {{> organisms-header }}

  <main class="l-main">

    {{> organisms-page-title }}

    {{> molecules-breadcrumbs }}

    <div class="l-container l-basic--flipped">

      <div class="l-sidebar-first">
        <div class="panel panel--mobile-collapse o-box">
          <h2 class="panel__title">Filter by Category</h2>
          <div class="panel__content">
            {{> molecules-category-filter }}
          </div>
        </div>
      </div>

      <div class="l-content">
        <div class="panel o-box">
          {{> organisms-poster-list styleModifier="poster-list--2-col" }}
        </div>
      </div>

    </div>
  </main>
  {{> organisms-footer }}
</div>
