@use "../0_tools" as *;

// Color states
.u-error {
  color: $brand--danger !important;
}

.u-warning {
  color: $brand--warning !important;
}

.u-success {
  color: $brand--success !important;
}

.u-info {
  color: $brand--info !important;
}

// Force a transparent background
.u-bg--transparent {
  background-color: transparent !important;
}

// Force the background to be Opaque
.u-bg--opaque {
  background-color: $white !important;
}
