<div class="alert {{ styleModifier }}">
  <div class="alert__inner">
    <p>{{ excerpt.short }}</p>
  </div>
</div>

<div class="alert alert--icon {{ styleModifier }}">
  <div class="alert__inner">
    <p>{{ headline.short }}</p>
  </div>
</div>

<div class="alert alert--icon {{ styleModifier }}">
  <div class="alert__inner">
    <p>{{ excerpt.short }}</p>
    <p>{{ excerpt.long }}</p>
  </div>
</div>
