@use "../0_tools" as *;

// Override the layout styles for two-column layout section.
.l-2col {
  @include l-default-settings();
  display: block;
  grid-template-areas: "first first first first first first second second second second second second";
  @include l-stack-flow();

  @include breakpoint($bp-medium--up) {
    display: grid;
  }

  // Override the 12 column layout in the wysiwyg so that gaps do not break
  // containers.
  &.layout-columns {
    grid-template-areas: "first second";
    grid-template-columns: 1fr 1fr;
  }

  &--33-67 {
    grid-template-areas: "first first first first second second second second second second second second";

    &.layout-columns {
      grid-template-columns: 1fr 2fr;
    }
  }

  &--67-33 {
    grid-template-areas: "first first first first first first first first second second second second";

    &.layout-columns {
      grid-template-columns: 2fr 1fr;
    }
  }

  &--25-75 {
    grid-template-areas: "first first first second second second second second second second second second";

    &.layout-columns {
      grid-template-columns: 1fr 3fr;
    }
  }

  &--75-25 {
    grid-template-areas: "second second second second second second second second second first first first";

    &.layout-columns {
      grid-template-columns: 3fr 1fr;
    }
  }
}
