@use "../0_tools" as *;

// Provides the layout styles for three-column layout section.
.l-3col {
  @include l-default-settings();
  display: block;
  grid-template-areas: "first first first first second second second second third third third third";
  @include l-stack-flow();

  @include breakpoint($bp-medium--up) {
    display: grid;
  }

  // Override the 12 column layout in the wysiwyg so that gaps do not break
  // containers.
  &.layout-columns {
    grid-template-areas: "first second third";
    grid-template-columns: 1fr 1fr 1fr;
  }

  &--25-50-25 {
    grid-template-areas: "first first first second second second second second second third third third";

    &.layout-columns {
      grid-template-columns: 1fr 2fr 1fr;
    }
  }

  &--25-25-50 {
    grid-template-areas: "first first first second second second third third third third third third";

    &.layout-columns {
      grid-template-columns: 1fr 1fr 2fr;
    }
  }

  &--50-25-25 {
    grid-template-areas: "first first first first first first second second second third third third";

    &.layout-columns {
      grid-template-columns: 2fr 1fr 1fr;
    }
  }
}
