@use "../0_tools" as *;

:root {
  // These values can be updated via JavaScript if needed.
  --fixed-page-offset: #{$menu-height};
  --fixed-header-scroll-offset: #{$menu-height * 1.25};
}

// Header
.l-header {

  &__branding {
    display: flex;
    align-items: center;
    padding: $spacer--small $container-edge-space;

    @include breakpoint($bp-medium--up) {
      min-height: 7.5rem;
      padding-right: $container-edge-space--md;
      padding-left: $container-edge-space--md;
    }
  }

  // Add this .l-header--fixed class to the body or top level dom element
  &--fixed {
    @include breakpoint($bp-medium--down) {
      padding-top: $header-bar-height-mobile;
    }

    @include breakpoint($bp-medium--up) {
      &.is-fixed {
        .l-main {
          padding-top: var(--fixed-page-offset);
        }
      }
    }

    .mobile-bar {
      position: fixed;
      z-index: $zindex-navbar-fixed;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
    }

    // Offset scrollable anchor tags
    [id] {
      scroll-margin-top: var(--fixed-header-scroll-offset);
    }
  }
}

// Navigation
.l-navbar {
  position: relative;
  z-index: $zindex-navbar;
  height: 100%;
  min-height: $menu-height;

  @include breakpoint($bp-medium--down) {
    position: absolute;
    top: $header-bar-height-mobile;
    left: 0;
  }

  @include breakpoint($bp-medium--up) {
    width: 100%;
    height: auto;
  }

  // The .is-fixed class overwrites the absolute positioning of the mega menu.
  .l-header--fixed &.is-fixed {
    @include breakpoint($bp-medium--up) {
      position: fixed;
      z-index: $zindex-navbar-fixed;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
    }
  }
}

.l-nav-horizontal {
  @include breakpoint($bp-medium--up) {
    display: grid;
    grid-template-areas: "nav search quick";
    grid-template-columns: 1fr max-content max-content;

    &__primary-nav {
      grid-area: nav;
    }

    &__search-popup {
      z-index: 3;
      grid-area: search;

      .search-popup__open {
        position: relative;
      }
    }

    &__quick-links {
      z-index: 2;
      grid-area: quick;
    }
  }
}

.has-mega {
  .l-navbar {
    position: absolute;
  }

  // Offset the space which collapses as the mega menu is removed from the flow.
  .l-main {
    @include breakpoint($bp-medium--up) {
      padding-top: $menu-height;
    }
  }
}
