@use "../0_tools" as *;

// Page Title and Breadcrumbs.
.l-page-title {
  padding: 0;

  @include breakpoint($bp-medium--up) {
    display: flex;
    align-items: center;
    margin-bottom: $spacer--large;
    padding: 0 $container-edge-space--md;
    box-shadow: 0 2px 1px rgba($brand--primary, .15);
  }

  &__breadcrumb {
    margin-bottom: $spacer;
    padding: 0 $container-edge-space;

    @include breakpoint($bp-medium--up) {
      min-width: 30%;
      margin-bottom: 0;
    }
  }
}
