@use "sass:math";

@use "../0_tools" as *;

// Sibling Grid
.l-sibling-grid {

  // Half
  &--half {
    @include breakpoint($bp-narrow--up) {
      clear: none;
      float: left;
      width: calc(50% - #{math.div($grid-gap, 2)});

      // Last element
      & + & {
        float: right;
      }
    }
  }

  // Third
  &--third {
    @include breakpoint($bp-narrow--up) {
      clear: none;
      float: left;
      width: 32%;
      margin-right: 2%;
    }

    // Last element
    @include breakpoint($bp-small--up) {
      & + & + & {
        margin-right: 0;
      }
    }
  }

}
