<ol class="list--outline">
  <li>Item 1
    <ol>
      <li>Item 2
        <ol>
          <li>Item 3
            <ol>
              <li>Item 4
                <ol>
                  <li>Item 5</li>
                </ol>
              </li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </li>
</ol>
