<ul class="list--accordion">
  <li data-cy="accordionButton1">How far away is the Sun?</li>
  <li data-cy="accordionContent1">Really Far.</li>
  <li data-cy="accordionButton2">Can you be more clear?</li>
  <li data-cy="accordionContent2">No, this is why school is important.</li>
  <li data-cy="accordionButton3">How close is the Sun?</li>
  <li data-cy="accordionContent3">That's basically the same question as above.</li>
</ul>
