// Buttons
@use "../0_tools" as *;
@use "buttons-mixin" as *;

// Deprecated
%btn {
  @include btn();
}

%btn--primary {
  @include btn--primary();
}

%btn--alt {
  @include btn--alt();
}

%btn--invert {
  @include btn--invert();
}

%btn--disabled {
  @include btn--disabled();
}

%btn--lg {
  @include btn--lg();
}

%btn--sm {
  @include btn--sm();
}

%btn--block {
  @include btn--block();
}


// Render the class.
.btn {
  @include btn();
}

// .button is used by jquery ui
.btn--primary,
.button {
  @include btn--primary();
}

.btn--primary-input,
.btn--primary:where(input),
.button:where(input) {
  @include btn--primary-input();
}

.btn--alt {
  @include btn--alt();
}

.btn--alt2 {
  @include btn--alt2();
}

.btn--alt3 {
  @include btn--alt3();
}

.btn--invert {
  @include btn--invert();
}

.btn--disabled,
.btn[disabled],
[disabled] .btn {
  @include btn--disabled();
}

.btn--lg {
  @include btn--lg();
}

.btn--sm {
  @include btn--sm();
}

.btn--round {
  @include btn--round();
}

.btn--block {
  @include btn--block();
}

.btn--input {
  @include btn--input();
}
