// Form Mixins
@use "../0_tools" as *;

@mixin checkbox() {
  @include select-option("checkbox");

  label {
    // Outer box of the fake checkbox
    &:before {
      top: 6px;
      left: 0;
      width: $spacer;
      height: $spacer;
      border: 1px solid $brand--primary-60;
    }

    // Checkmark of the fake checkbox
    &:after {
      top: .6em;
      left: .2em;
      width: .6em;
      height: .3em;
      border-bottom: 2px solid;
      border-left: 2px solid;
      color: $white;
      transform: rotate(-45deg);
    }
  }
}

@mixin radio() {
  @include select-option("radio");

  label {
    // Outer circle of the fake radio
    &:before {
      top: 6px;
      left: 0;
      width: 21px;
      height: 21px;
      border-radius: 50%;
    }

    // Dot mark of the fake radio
    &:after {
      top: 13px;
      left: 7px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $white;
    }
  }
}

// Pure CSS Styled Checkboxes
// Setup for Pure CSS select/option lists like radios or checkbox(es)
@mixin select-option($input-type) {
  [type="#{$input-type}"] {
    width: 0;
    opacity: 0;

    // Hide the checkmark/radio bounding area by default
    &:checked + label:before {
      border-color: $brand--primary-80;
      background-color: $brand--primary-80;
    }

    // Hide the checkmark/radio by default
    + label:after {
      content: none;
    }

    // Unhide on the checked state
    &:checked + label:after {
      content: "";
    }

    // Adding focus styles on the outer-box/outer-circle of the fake checkbox/radio
    &:focus + label:before {
      border-color: transparent;
      box-shadow: 0 0 0 3px $brand--primary;
      outline-color: transparent;
      outline-style: solid;
    }
  }

  label {
    position: relative;
    display: inline-block;
    padding-left: $spacer * 1.75;

    &:before,
    &:after {
      position: absolute;

      // Needed for the line-height to take effect
      display: inline-block;
      content: "";
    }

    // Outer box of the fake checkbox/radio
    &:before {
      border: 1px solid $brand--primary-60;
    }

    // Check or Radio outer box hover state
    &:hover:before {
      border-color: $brand--primary-80;
    }
  }
}
