// Text Highlight Mixins
@use "sass:color";
@use "../0_tools" as *;

// Add arrows to a list
@mixin highlight-info() {
  background-color: color.adjust($rec-pool, $lightness: 25%);
  color: $brand--primary;
}

@mixin highlight-success() {
  background-color: color.adjust($farmers-market, $lightness: 15%);
  color: $brand--success;
}

@mixin highlight-warning() {
  background-color: color.adjust($sunflower, $lightness: 30%);
  color: $brand--warning;
}

@mixin highlight-danger() {
  background-color: color.adjust($rose, $lightness: 12%);
  color: $brand--danger;
}
