// Text
@use "../0_tools" as *;
@use "text-mixin" as *;

// Font Families
.font--secondary {
  font-family: $font-family--serif;
}

.font--monospace {
  font-family: $font-family--monospace;
}

// Caption
.caption {
  font-style: italic;
}

.hr-invert {
  border-color: rgba($white, .25);
}

.byline {
  margin-bottom: $spacer--small;
  color: var(--forced-contrast, #{$gray});
}

// Deprecated
%pullquote {
  @include pullquote();
}

.pullquote {
  @include pullquote();
}

// Text Modifiers
.text--smaller {
  font-size: .9375rem;
}

// Text Indents
.indent {
  margin-left: .75em;

  @include breakpoint($bp-medium--up) {
    margin-left: 2em;

    &--large {
      margin-left: 4em;
    }

    &--giant {
      margin-left: 6em;
    }

    &--huge {
      margin-left: 8em;
    }
  }

  &--large {
    margin-left: 1.5em;
  }

  &--giant {
    margin-left: 2.25em;
  }

  &--huge {
    margin-left: 3em;
  }
}
