<div class="vm-listing {{ styleModifier }}">
  {{#if hasMediaFigure }}
  <div class="vm-listing__figure">
    <a href="{{ url }}">{{> atoms-thumbnail }}</a>
  </div>
  {{/if}}
  <div class="vm-listing__body">
    <h3 class="vm-listing__title"><a href="{{ url }}">{{ headline.medium }}</a></h3>
    {{#if showDate }}
      <div class="vm-listing__submitted">{{ month.long }} {{ day.short }},  {{ year.long }}</div>
    {{/if}}
  </div>
</div>
