<div class="vm-listing {{ styleModifier }}">
  {{#if hasMediaFigure }}
  <div class="vm-listing__figure">
    <a href="{{ url }}">{{> atoms-thumbnail }}</a>
  </div>
  {{/if}}
  <div class="vm-listing__body">
    <h3 class="vm-listing__title"><a href="{{ url }}">{{ headline.medium }}</a></h3>
    {{ person.dept }}
  </div>
</div>
