<article class="vm-teaser {{#if featured }}vm-teaser--featured{{/if }} {{brandClass}} {{ styleModifier }}">
  {{#if hasMediaFigure }}
    <div class="vm-teaser__figure">
      <a href="{{ url }}">{{> atoms-thumbnail }}</a>
    </div>
  {{/if }}
  <div class="vm-teaser__body">
    <h3 class="vm-teaser__title"><a href="{{ url }}">{{ person.headline }}</a></h3>
    <ul class="u-space-mb--small list--pipe">
      {{#each person.title}}<li>{{ positionTitle }}</li>{{/each}}
      {{#each person.dept}}<li>{{{ unit }}}</li>{{/each}}
    </ul>
    {{#if teaserSummary }}
      <div class="vm-teaser__summary">{{ excerpt.short }}</div>
    {{/if}}
    {{#if person.contactInfo }}
      <ul class="vm-teaser__contact list--pipe text--smaller">
        <li>
          <a class="icon icon--link icon--phone" href="{{ url }}">{{ phoneNum }}</a>
        </li>
        <li>
          <a class="icon icon--link icon--envelope" href="{{ url }}">{{ emailAdd }}</a>
        </li>
        <li>
          <a class="icon icon--link icon--web" href="{{ url }}">{{ webLink }}</a>
        </li>
      </ul>
    {{/if}}
    {{#if person.location }}<div class="icon icon--location">{{ person.location }}</div>{{/if}}
    {{#if person.address }}<div><span class="icon icon--map u-space-mb--small">{{ address.number }} {{ address.street }}, {{ address.city }}, {{ address.state }} {{ address.zip }}</span></div>{{/if }}
    {{#if person.officeHours }}<div class="text--smaller u-space-mb"><strong>Office Hours</strong> {{ person.officeHours }}</div>{{/if }}
  </div>
</article>
