<article class="vm-teaser {{#if featured }}vm-teaser--featured{{/if }} {{#if grouped }}vm-teaser--grouped{{/if}} {{brandClass}} {{ styleModifier }}">
  {{#if hasMediaFigure }}
    <div class="vm-teaser__figure category">
      <a href="{{ url }}">{{> atoms-thumbnail }}</a>
    </div>
  {{/if }}
  <div class="vm-teaser__body">
    <h3 class="vm-teaser__title"><a href="{{ url }}">{{ headline.medium }}</a></h3>
    {{#if teaserSummary }}
      <div class="vm-teaser__summary">{{ excerpt.short }}</div>
    {{/if}}
  </div>
</article>
