<article class="vm-teaser {{#if featured }}vm-teaser--featured{{/if }} {{brandClass}} {{ styleModifier }}">
  {{#if hasMediaFigure }}
    <div class="vm-teaser__figure category">
      <a href="{{ url }}">{{> atoms-thumbnail }}</a>
    </div>
  {{/if }}
  <div class="vm-teaser__body">
    <h3 class="vm-teaser__title"><a href="{{ url }}">{{ headline.medium }}</a></h3>
    {{#if teaserByline }}
      <ul class="vm-teaser__byline">
        <li>{{> molecules-byline }}</li>
        <li>{{ month.long }} {{ day.short }}, {{ year.long }}</li>
      </ul>
    {{/if }}
    {{#if teaserCategorized }}
      <ul class="vm-teaser__categories">
        {{#each catList }}
          <li class="vm-teaser__cat-marker {{ brandColor }}"><a href="{{ url }}">{{ categoryValue }}</a></li>
        {{/each}}
        {{#each secondaryCatList }}
          <li class="vm-teaser__cat-marker {{ brandColor }}"><a href="{{ url }}">{{ categoryValue }}</a></li>
        {{/each}}
      </ul>
    {{/if }}
    {{#if teaserSummary }}
      <div class="vm-teaser__summary">{{ excerpt.short }}</div>
    {{/if}}
  </div>
</article>
