<article class="vm-teaser {{#if featured }}vm-teaser--featured{{/if }} {{brandClass}} {{ styleModifier }}">
  {{#if hasMediaFigure }}
    <div class="vm-teaser__figure category">
      <a href="{{ url }}">{{> atoms-thumbnail }}</a>
    </div>
  {{/if }}
  <div class="vm-teaser__body">
    <h3 class="vm-teaser__title"><a href="{{ url }}">{{ headline.medium }}</a></h3>
    {{#if teaserSummary }}
      <div class="vm-teaser__summary">{{ excerpt.short }}</div>
    {{/if}}
    <ul class="vm-teaser__contact list--pipe text--smaller">
      <li>
        <a class="icon icon--link icon--calendar" href="{{ url }}">{{ month.short }} {{ day.short }}, {{ year.long }} <span class="date-separator">@</span> <span class="date-time">{{ hour.long }}:{{ minute.long }} {{ hour.ampm }}</span></a>
      </li>
      <li>
        <a class="icon icon--link icon--map" href="{{ url }}">{{ event.mapLink }}</a>
      </li>
      <li>
        <div class="icon icon--location">{{ address.number }} {{ address.street }}, {{ address.city }}, {{ address.state }} {{ address.zip }}</div>
      </li>
      <li>
        <a class="icon icon--link icon--view-more" href="{{ url }}">{{ event.linkText }}</a>
      </li>
    </ul>
  </div>
</article>
