<a href="{{ url }}" class="vm-spotlight {{ styleModifier }}">
  <h3 class="vm-spotlight__body">
    <div class="vm-spotlight__callout">{{ spotlight.callout }}</div>
    <div class="vm-spotlight__title">{{ headline.short }}</div>
  </h3>
  <div class="vm-spotlight__image">
    {{> atoms-landscape-4x3 }}
  </div>
</a>
