<a href="{{ url }}" class="vm-poster {{ brandClass }}">
  {{> atoms-landscape-16x9 }}
  <div class="vm-poster__body">
    <div class="vm-poster__body-text">
      <h2 class="vm-poster__title">{{ headline.short }}</h2>
      <p>{{ excerpt.short }}</p>
    </div>
  </div>
</a>
