<div class="social-follow {{ styleModifier }}">
  <ul>
    <li>
      <a href="{{ url }}">
        <!-- Semantic Icon with Accessible Markup -->
        <i aria-hidden="true" class="fab fa-facebook fa-2x" title="Facebook"></i>
        <span class="sr-only">Facebook</span>
      </a>
    </li>
    <li>
      <a href="{{ url }}">
        <i aria-hidden="true" class="fab fa-instagram fa-2x" title="Instagram"></i>
        <span class="sr-only">Instagram</span>
      </a>
    </li>
    <li>
      <a href="{{ url }}">
        <i aria-hidden="true" class="fab fa-linkedin fa-2x" title="LinkedIn"></i>
        <span class="sr-only">LinkedIn</span>
      </a>
    </li>
    <li>
      <a href="{{ url }}">
        <i aria-hidden="true" class="fab fa-x-twitter fa-2x" title="Twitter"></i>
        <span class="sr-only">Twitter</span>
      </a>
    </li>
    <li>
      <a href="{{ url }}">
        <i aria-hidden="true" class="fab fa-youtube fa-2x" title="YouTube"></i>
        <span class="sr-only">YouTube</span>
      </a>
    </li>
  </ul>
</div>
