<a href="{{ url }}" class="focal-link {{ brandClass }} {{ styleModifier }}">
  {{#if icon }}
  <div class="focal-link__figure focal-link__icon">
    <i class="{{ icon }} fa-2x"></i>
  </div>
  {{else}}
    <div class="focal-link__figure">
      {{> atoms-focal-link }}
    </div>
  {{/if}}

  <div class="focal-link__body">
    <strong>{{ actionText }}</strong>
  </div>
</a>
