<a href="{{ url }}" class="marketing-highlight {{ modifierClass }} {{ brandColor }} {{ styleModifier }}">
  <div class="marketing-highlight__image">
    {{> atoms-landscape-4x3 }}
    {{#if highlightLabel }}
      <h3 class="marketing-highlight__type"><span>{{ highlightLabel }}</span></h3>
    {{/if }}
  </div>
  <div class="marketing-highlight__body">
    <h3 class="marketing-highlight__title">{{ headline.short }}</h3>
    {{#if highlightContent }}
      <p>{{{ excerpt.short }}}</p>
    {{/if }}
    {{#if ctaText }}
      <span class="marketing-highlight__cta">{{ ctaText }}</span>
    {{/if}}
  </div>
</a>
