<div class="uc-footer">
  <p><a href="https://www.ucdavis.edu/">University of California, Davis</a>, One Shields Avenue, Davis, CA 95616 | 530-752-1011</p>
  <ul class="list--pipe">
    <li><a href="{{url}}">Help</a></li>
    <li><a href="{{url}}">Questions or comments?</a></li>
    <li><a href="{{url}}">Privacy & Accessibility</a></li>
    <li><a href="https://diversity.ucdavis.edu/principles-community">Principles of Community</a></li>
    <li><a href="http://www.universityofcalifornia.edu/">University of California</a></li>
    <li><a href="{{url}}">Sitemap</a></li>
    <li>Last update: January 8, 2021</li>
  </ul>
  <p>Copyright © The Regents of the University of California, Davis campus. All rights reserved.</p>
</div>
