<div class="focus-box {{ styleModifier }} {{ brandModifier}}">
  <div class="focus-box__image">
    {{> atoms-focus }}
  </div>
  <h3 class="focus-box__title">{{{ focusBoxTitle }}}</h3>
  <div class="focus-box__body category-brand__background--lighten">
    {{{ focusBoxText }}}
  </div>
</div>
