<div class="collapse {{ brandClass }}">
  <h2 data-cy="button" class="collapse__title collapse__title--closed">
    {{ headline.short }}
  </h2>
  <div data-cy="content" class="collapse__content u-hidden--visually">
    {{{ excerpt.long }}}
  </div>
</div>
