{{#if textCollapse }}<div id="{{ textBoxCollapseID }}" class="message-area">{{/if }}
<section class="brand-textbox category-brand__background {{ styleModifier }} {{#if textCollapse }}brand-textbox--collapsible{{/if }}">
  {{#if textCollapse }}
  <div class="brand-textbox__content" data-cy="content">
  {{/if }}
    {{{ excerpt.long }}}
  {{#if textCollapse }}
  </div>
  <button class="brand-textbox__button" data-cy="button" title="Open/Close Message">Toggle this message area open and closed.</button>
  {{/if }}
</section>
{{#if textCollapse }}</div>{{/if }}
