<div class="quick-summary">
  <h2 class="quick-summary__title">Quick Summary</h2>
  <div class="quick-summary__body">
    <ul class="list--arrow">
      {{#each quickSummaryItems }}
        <li>{{ quickSummaryItem }}</li>
      {{/each }}
    </ul>
  </div>
</div>
