<div class="alignable-promo {{ modifierClass }}">
  <div class="alignable-promo__wrapper">
    <div class="alignable-promo__figure">
      {{> atoms-landscape-4x3 }}
    </div>
    <div class="alignable-promo__body">
      <h2 class="alignable-promo__title"><span class="alignable-promo__line1">{{ alignablePromo.title1 }}</span><span class="alignable-promo__line2">{{ alignablePromo.title2 }}</span></h2>
      <div class="alignable-promo__text">
        <p>{{{ excerpt.short }}}</p>
      </div>
      <div class="alignable-promo__buttons">
        <a href="{{ url }}" class="btn btn--primary">{{ alignablePromo.btn1 }}</a>
        <a href="{{ url }}" class="btn btn--invert">{{ alignablePromo.btn2 }}</a>
      </div>
    </div>
  </div>
</div>
