<div class="factoid {{ modifierClass }}">
  <a href="{{ url }}" class="factoid__link">
    <div class="factoid__bracket-one"></div>
    <div class="factoid__bracket-wrapper">
      {{#if icon }}
      <div class="factoid__figure factoid__icon">
        <span class="{{ icon }} fa-2x"></span>
      </div>
      {{else}}
      <div class="factoid__figure">
        {{> atoms-thumbnail }}
      </div>
      {{/if}}
      <div class="factoid__body">
        <h2 class="factoid__big-text">{{ factoid.bigtext }}</h2>
        <h3 class="factoid__small-text">{{ headline.short }}</h3>
      </div>
    </div>
    <div class="factoid__bracket-two"></div>
  </a>
</div>
