<h2>Tab Panel</h2>

<sl-tab-group>
  <sl-tab slot="nav" panel="general">General</sl-tab>
  <sl-tab slot="nav" panel="custom">Custom</sl-tab>
  <sl-tab slot="nav" panel="advanced">Advanced</sl-tab>
  <sl-tab slot="nav" panel="disabled" disabled>Disabled</sl-tab>

  <sl-tab-panel name="general"><p>This is the general tab panel.</p></sl-tab-panel>
  <sl-tab-panel name="custom"><p>This is the custom tab panel.</p></sl-tab-panel>
  <sl-tab-panel name="advanced"><p>This is the advanced tab panel.</p></sl-tab-panel>
  <sl-tab-panel name="disabled"><p>This is a disabled tab panel.</p></sl-tab-panel>
</sl-tab-group>
