<!-- Use molecules-listing for lists -->
<section class="article-list">
  {{#each articleList }}
    {{> molecules-listing }}
  {{/each}}
  <a href="{{ url }}" class="icon icon--circle-arrow-right">View All</a>
</section>
