<!-- Use molecules-listing for lists -->
<section class="event-list">
  {{#each eventList }}
    {{> molecules-listing }}
  {{/each }}
  <a href="{{ url }}" class="icon icon--circle-arrow-right">View All</a>
</section>
