{{#if slideshow }}
  <div class="slideshow">
    {{#each slideshow.slides }}
      <div class="slideshow__item {{#if slideTitle}}slideshow__item--has-title{{/if}}">
        {{> atoms-slideshow }}
        <div class="slideshow__text">
          {{#with slideTitle }}
            <div class="slideshow__title">
              {{ firstWord }} {{ remaining }}
            </div>
          {{/ with }}
          {{#if caption }}
            <div class="slideshow__caption">{{{ caption }}}</div>
          {{/if }}
        </div>
      </div>
    {{/each }}
  </div>
  {{#if hasThumbnails }}
    <div class="slider-nav" role="toolbar">
      {{#each slideshow.thumbSlides }}
        <div class="slideshow__item">
          {{> atoms-slideshow-thumbnail }}
        </div>
      {{/each }}
    </div>
  {{/if }}
{{/if }}
