<h1>Heading Level 1</h1>
<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<h5>Heading Level 5</h5>
<h6>Heading Level 6</h6>

<hr>

<h1><a href="{{ href }}">Linked Heading Level 1</a></h1>
<h2><a href="{{ href }}">Linked Heading Level 2</a></h2>
<h3><a href="{{ href }}">Linked Heading Level 3</a></h3>
<h4><a href="{{ href }}">Linked Heading Level 4</a></h4>
<h5><a href="{{ href }}">Linked Heading Level 5</a></h5>
<h6><a href="{{ href }}">Linked Heading Level 6</a></h6>

<hr>

<h2 class="heading--primary">.heading--primary</h2>
<h2 class="heading--secondary">.heading--secondary</h2>
<h2 class="heading--auxiliary">.heading--auxiliary</h2>
<h2 class="heading--highlight">.heading--highlight</h2>
<h2 class="heading--underline">.heading--underline</h2>
<h2 class="heading--weighted"><span class="heading--weighted--weighted">Heading</span> .heading--weighted</h2>
<h2 class="heading--weighted-underline"><span class="heading--weighted--weighted">Heading</span> .heading--weighted-underline</h2>
<h2 class="heading--center-underline">.heading--center-underline</h2>
<h2 class="heading--invert">.heading--invert</h2>
<h2 class="heading--invert-box">.heading--invert-box</h2>
