<section class="wysiwyg-feature-block {{ styleModifier }}">
  <div class="wysiwyg-feature-block__figure">
    <figure>
      {{#if video }}
        {{> atoms-video-youtube }}
      {{else}}
        {{> atoms-landscape-16x9 }}
      {{/if}}
      <figcaption>{{ figcaption }}</figcaption>
    </figure>
  </div>
  <h3 class="wysiwyg-feature-block__title">{{ wysiwygFeatureBlock.title }}</h3>
  <div class="wysiwyg-feature-block__body">
    {{{ wysiwygFeatureBlock.text }}}
  </div>
</section>
