<a href="{{url}}" class="media-link {{ styleModifier }}">
  <div class="media-link__figure">
    {{> atoms-thumbnail }}
  </div>
  <div class="media-link__body">
    <h3 class="media-link__title">{{ headline.short }}</h3>
    <p>{{ excerpt.short }}</p>
  </div>
</a>
