<layout-columns columns="4" vmargin="3" force>
  <div slot="column1">column 1</div>
  <div slot="column2">column 2</div>
  <div slot="column3">column 3</div>
  <div slot="column4">column 4</div>
</layout-columns>

<layout-columns columns="2" cwidth="shrink" gap="4" layout="67-33" vmargin="3" force>
  <div slot="column1">column 1</div>
  <div slot="column2">column 2</div>
  <div slot="column3">column 3</div>
  <div slot="column4">column 4</div>
</layout-columns>
