<header class="l-header header">
  <div class="mobile-bar">
    <div class="mobile-bar__nav-toggle">
      <button class="nav-toggle js-nav-toggle" aria-controls="menu-tray" aria-expanded="false" aria-label="Toggle Main Menu Tray">
        <span class="nav-toggle__icon nav-toggle__icon--menu">Menu</span>
      </button>
    </div>
    <div class="mobile-bar__fixed-site-name"><a href="{{ url }}">{{ siteName }}</a></div>
    <div class="mobile-bar__university">{{> atoms-ucd-logo-gold }}</div>
  </div>

  <div class="header__bar">
    <div class="header__university">
      {{> atoms-ucd-logo-blue }}
    </div>
  </div>

  <div class="l-header__branding">
    <div class="site-branding">
      <div class="site-branding__figure">
        {{> atoms-site-logo }}
      </div>
      <div class="site-branding__body">
        <h1 class="site-branding__site-name">
          <a href="{{url}}" data-cy="site-name">{{ siteName }}</a>
        </h1>
        <div class="site-branding__slogan">{{ slogan }}</div>
      </div>
    </div>
  </div>

  <div id="menu-tray" class="l-navbar header__navbar menu--closed" data-cy="navbar">
    <div class="l-container--navigation off-canvas off-canvas--left">
      <div class="off-canvas__container l-nav-horizontal">
        <div class="l-nav-horizontal__search-popup">
          {{> molecules-search-popup }}
        </div>
        <div class="l-nav-horizontal__quick-links">
          {{> molecules-quick-links styleModifier="quick-links--home-site quick-links--two-columns" }}
        </div>
        <div class="l-nav-horizontal__primary-nav">
          {{> molecules-primary-nav styleModifier="primary-nav--superfish" }}
        </div>
      </div>
    </div>
  </div>
</header>
