@use "../0_tools" as *;

// Brand Textbox which will add a category color to the background
.brand-textbox {
  @include category-brand-knockout();
  --panel-bg: var(--category-brand);
  position: relative;
  padding: $spacer;

  @include breakpoint($bp-narrow--up) {
    padding: $spacer;
  }

  *:last-child {
    margin-bottom: 0;
  }

  &--collapsible {
    padding-right: $spacer--huge;

    @include breakpoint($bp-medium--up) {
      padding-right: $spacer--large;
    }
  }

  &--closed {
    position: relative;
    top: 0;
    right: 0;
    height: 1.85 * $spacer;
    padding: 1.25 * $spacer $spacer--large;

    @include breakpoint($bp-medium--up) {
      height: $spacer;
      padding: $spacer $spacer--large;
    }
  }

  &__content {

    .brand-textbox--closed & {
      visibility: hidden;
    }
  }

  &__button {
    position: absolute;
    top: $spacer--tiny;
    right: $spacer--tiny;
    overflow: hidden;
    width: $spacer--large;
    height: $spacer--large;
    padding: 0;
    border: 0;
    background-color: transparent;


    @include breakpoint($bp-medium--up) {
      width: $spacer--medium;
      height: $spacer--medium;
    }

    &:before {
      display: block;
      margin-bottom: $spacer;
      background-color: $white;
      color: var(--category-brand-featured, var(--category-brand, #{$brand--primary-80}));
      content: "\f00d";
      font-family: $font-family--icons;
      font-size: 1.5 * $font-size;
      font-weight: $font-weight--bold;
      line-height: 2.1rem;

      @include breakpoint($bp-medium--up) {
        font-size: $font-size;
        line-height: 1.6;
      }

      .brand-textbox--closed & {
        content: "\f078";
      }
    }

    &:hover,
    &:focus {
      opacity: .75;
    }
  }
}
