@use "sass:math";

@use "../0_tools" as *;

// Collapse (Like accordion but only affects the current section)
.collapse {

  &__title {
    @include category-brand-knockout($brand--primary);
    @include has-icon(right);
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    padding: $spacer--medium $spacer--large $spacer--medium $spacer;
    cursor: pointer;
    font-size: $font-size--large;

    @include breakpoint($bp-small--up) {
      font-size: 1.5rem;
      line-height: 1.4;
    }

    @include breakpoint($bp-narrow--up) {
      font-size: 1.3325rem;
    }

    &:after {
      color: var(--category-brand-contrast-color, #{$brand--secondary});
      content: "\f067";
      transition: all .4s ease-in;
    }

    &--open:after {
      transform: rotate(135deg);
    }
  }

  // Hiding of this content will be done in markup with a .u-hidden--visually
  // class so that it can be removed by javascript. This is done for accessibility
  // reasons so that the content is not actually hidden.
  &__content {
    padding: $spacer;
    border: 1px solid $brand--primary;
    border-top: 0;
    background-color: $white;

    li {
      margin-bottom: math.div($spacer, 2);

      a {
        font-weight: normal;
      }
    }
  }
}
