@use "../0_tools" as *;

.factoid {
  container-name: factoid;
  container-type: inline-size;
  text-align: center;

  &__link {
    display: block;
    max-width: 10rem;
    margin: auto;
    text-decoration: none;

    @container factoid (inline-size > 350px) {
      max-width: calc(20rem + 1cqi);
    }

    &:hover {

      .factoid__figure {
        bottom: -.5rem;
      }

      .factoid__body {
        top: -.5rem;
      }

      .factoid__bracket-one:before {
        left: -$spacer;
      }

      .factoid__bracket-two:before {
        right: -$spacer;
      }
    }
  }

  &--brackets {

    .factoid__bracket-one {
      width: 4.75rem;

      &:before {
        position: relative;
        left: 0;
        display: block;
        float: right;
        width: 1.75rem;
        height: 12rem;
        border-top: 1rem solid rgba(var(--category-brand-rgb, hex-to-rgb($ucd-blue-70)), .3);
        border-bottom: 1rem solid rgba(var(--category-brand-rgb, hex-to-rgb($ucd-blue-70)), .3);
        border-left: 1rem solid rgba(var(--category-brand-rgb, hex-to-rgb($ucd-blue-70)), .3);
        content: "";
        transition: left .2s ease-in-out;
      }
    }

    .factoid__bracket-two {
      width: 4.75rem;

      &:before {
        position: relative;
        right: 0;
        display: block;
        float: left;
        width: 1.75rem;
        height: 12rem;
        border-top: 1rem solid rgba(var(--category-brand-rgb, hex-to-rgb($ucd-blue-70)), .3);
        border-right: 1rem solid rgba(var(--category-brand-rgb, hex-to-rgb($ucd-blue-70)), .3);
        border-bottom: 1rem solid rgba(var(--category-brand-rgb, hex-to-rgb($ucd-blue-70)), .3);
        content: "";
        transition: right .2s ease-in-out;
      }
    }
  }

  &--brackets {

    .factoid__link {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__icon {
    color: var(--category-brand, var(--forced-contrast, #{$ucd-gold}));
    font-size: min($font-size--large * 2, $font-size + 4cqi);
  }

  &__figure {
    position: relative;
    bottom: 0;
    margin-bottom: $spacer * 1.5;
    transition: bottom .2s ease-in-out;

    :where(img) {
      width: calc(3rem + 10cqi);
    }

    &.factoid__icon {
      margin-bottom: $spacer;
    }
  }

  &__body {
    position: relative;
    top: 0;
    padding: 0 $spacer;
    transition: top .2s ease-in-out;
  }

  &__big-text {
    margin-bottom: $spacer;
    font-size: min($font-size * 4, $font-size + 6cqi);
  }

  &__small-text {
    margin-top: 0;
    color: var(--forced-contrast, #{$ucd-blue});
    font-size: min($font-size--large, $font-size + .5cqi);
  }
}
