@use "../0_tools" as *;

// Footer Spacer
.footer-spacer {
  position: relative;
  margin: $spacer 0 $spacer--huge 0;
  text-align: center;

  &__logo {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 $spacer--large;
    background-color: $brand--primary;

    .logo {
      width: 7rem;

      @include breakpoint($bp-narrow--up) {
        width: 6rem;
      }
    }
  }
}
