@use "../0_tools" as *;
@use "../3_objects/o-flex-region" as *;

// Footer
.footer {
  padding: $spacer--huge 0 6em;
  background-color: $brand--primary;
  color: $white;

  :where(h1, h2, h3, h4, h5, h6, .pane-title) {
    @include heading--invert();
    margin-bottom: $spacer--small;
    font-size: 1.5rem;

    @include breakpoint($bp-narrow--up) {
      font-size: 1.5rem;
    }
  }

  a {
    color: $white;
  }
}

// Region of Navigation lists
.flex-footer {
  @include o-flex-region();

  &__item {
    --o-flex-region-spacer: #{$spacer--large};
    padding-right: $spacer;

    &:last-child {
      padding-right: 0;
    }
  }
}
