@use "../0_tools" as *;

// Header
.header {
  background-color: $white;
  box-shadow: 0 1px 1px rgba($brand--primary, .15);

  &__bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: $header-bar-height;
    background-color: #d8d8d8;

    @include breakpoint($bp-medium--down) {
      display: none;
    }
  }

  &__university {
    $university-spacing: $spacer * .75;
    display: flex;
    align-items: center;
    height: $header-bar-height;
    padding-right: $university-spacing;
    background-color: $gray-lighter;

    &:before {
      width: $university-spacing;
      height: $header-bar-height;
      margin-right: $university-spacing;
      margin-left: -$university-spacing;
      background-color: $gray-lighter;
      clip-path: polygon(93% 0, 110% 0, 110% 102%, 0% 102%);
      content: "";
    }

    // Fix weird vertical alignment due to being inline.
    a {
      display: flex;
      margin-left: $spacer--small;
    }
  }

  .ucd-logo {
    width: auto;
    height: 1.25rem;

    @include breakpoint($bp-medium--up) {
      height: .75rem;
    }
  }

  // Navbar
  &__navbar {
    background-color: $brand--primary;
    box-shadow: 0 2px 1px rgba($brand--primary, .15);

    .has-mega & {
      background-color: $white;
    }
  }
}

.site-logo {
  max-height: 6.25rem;
}
