@use "../0_tools" as *;

// Mobile Bar for the header.
.mobile-bar {
  display: flex;
  align-items: center;
  overflow: hidden;
  min-height: $header-bar-height-mobile;
  background-color: $brand--primary;

  @include breakpoint($bp-medium--up) {
    display: none;
  }

  &__nav-toggle {
    position: relative;
    display: flex;
    flex-shrink: 0;
    margin-right: $spacer;
    background-color: $brand--primary-80;

    // Used to mask overflow backgrounds.
    &:before {
      position: absolute;
      right: -1rem;
      width: 1rem;
      height: 100%;
      background-color: $brand--primary;
      content: "";
      transform: skewX(16deg);
    }

    // The Stripe.
    &:after {
      width: $spacer;
      margin-left: $spacer--small;
      background-color: $brand--primary-90;
      content: "";
      transform: skewX(16deg);
    }
  }

  &__fixed-site-name {
    z-index: 1;
    visibility: hidden;
    width: 0;
    height: 0;
    padding-right: $spacer;
    color: $white;
    font-size: 1.125rem;
    font-weight: $font-weight--bold;
    line-height: 1;
    opacity: 0;
    transition: visibility 0s, opacity .5s linear;

    @include breakpoint($bp-narrow--up) {
      font-size: 1.25rem;
      line-height: 1;
    }

    .is-fixed & {
      visibility: visible;
      width: auto;
      height: auto;
      opacity: 1;
    }

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__university {
    margin-right: $container-edge-space;
    margin-left: auto; // force the logo to the right side.
    line-height: 1;

    .is-fixed & {
      display: none;
    }
  }
}
