@use "../0_tools" as *;

// Off-canvas Menus
.off-canvas {
  @include breakpoint($bp-medium--down) {
    position: absolute;
    z-index: $zindex-navbar;
    width: 70vw;
    min-width: 15rem;
    height: 100%;
    background: $menu-background-color;
    overscroll-behavior-y: contain;
    transition: all $transition-time;

    &__container {
      position: static;

      // Prevent items from being focusable to prevent the entire menu from
      // needing to be tabbed through in order to get to content.
      .menu--hidden & {
        display: none;
      }
    }

    &--fixed,
    .l-header--fixed & {
      position: fixed;
      z-index: $zindex-navbar-fixed;
      overflow: auto;

      // Add some bottom padding so that there is room to scroll
      .off-canvas__container {
        padding-bottom: $header-height--md * 2;
      }
    }

    &--left {
      left: 0;

      .menu--closed & {
        transform: translateX(-105%);
      }
    }

    &--right {
      right: 0;

      .menu--closed & {
        transform: translateX(105%);
      }
    }

    .menu--open & {
      box-shadow: 0 10px 10px 5px rgba($gray-darker, .4);
    }
  }
}
