@use "../0_tools" as *;

// Footer Navigation

.footer-nav {
  color: $white;

  a {
    display: block;
    padding: $spacer--small 0;
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__logo {
    margin-bottom: $spacer;

    img {
      width: 70%;
    }
  }
}
