@use "../0_tools" as *;

// Quick Navigation
$quick-links-title-height: $menu-height !default;
$quick-links-list-offset: $spacer * 9.75 !default;
$quick-links-btn-bg: $brand--primary-80 !default;

@mixin quick-links-highlight() {
  border-top: 0;

  .menu {
    padding-top: $quick-links-list-offset;
  }

  li:first-child,
  li:nth-child(2),
  li:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $white;
    background-color: $ucd-gold-60;

    a {
      @include has-icon();
      padding: $spacer $spacer $spacer ($spacer * .75);
      font-size: 1.25rem;
      font-weight: $font-weight--bold;
      line-height: 1;
      text-decoration: none;

      &:hover {
        background-color: $brand--secondary;
      }

      &:before {
        min-width: $spacer;
        margin-right: ($spacer * .75);
        color: $brand--primary-80;
        font-size: .875em;
      }
    }
  }

  li:nth-child(2) {
    top: $quick-links-list-offset * .33;
    border-top: 2px solid $white;
  }

  li:nth-child(3) {
    top: $quick-links-list-offset * .66;
    border-top: 2px solid $white;
  }
}

.quick-links {
  position: relative;

  &__menu {
    background-color: $white;

    @include breakpoint($bp-medium--down) {
      a {
        display: flex;
        align-items: center;
        min-height: $menu-mobile-height;
        padding-left: 1em;
        border-bottom: 1px solid $gray;
        background: $white;
        font-weight: $font-weight;
        line-height: 1.25;
        text-decoration: none;

        &:hover {
          background: $menu-background-color-active;
        }

        .active {
          background: $menu-background-color-active;
        }
      }
    }

    @include breakpoint($bp-medium--up) {
      position: absolute;
      top: $quick-links-title-height;
      right: 0;
      width: 22rem;
      border-top: 1px solid $quick-links-btn-bg;
      box-shadow: 0 1px 2px rgba($brand--primary, .7);

      .menu {
        position: relative;
        z-index: $zindex-dropdown;
        padding: $spacer 0;
      }

      a {
        display: block;
        padding: $spacer--small $spacer--medium;
        font-weight: $font-weight;
        line-height: 1.35;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    a {
      color: $black;

      &:focus {
        background: $menu-background-color-active;
      }
    }
  }

  // Style the quicklinks like the WWW homesite does
  &--home-site {
    @include breakpoint($bp-medium--up) {
      @include quick-links-highlight();

      li:first-child a:before {
        content: "\f406";
      }

      li:nth-child(2) a:before {
        content: "\f058";
      }

      li:nth-child(3) a:before {
        content: "\f06b";
      }
    }
  }

  &--highlight {
    @include breakpoint($bp-medium--up) {
      @include quick-links-highlight();
    }
  }

  // Display the menu as two columns
  &--two-columns {
    @include breakpoint($bp-medium--up) {
      .menu {
        column-count: 2;
        column-gap: 0;
      }

      a {
        break-inside: avoid;
      }
    }
  }

  // The "Quick Links" text that is clicked to drop down the menu
  &__title {
    @include has-icon(right);
    position: relative;
    z-index: 1;
    justify-content: space-between;
    margin: 0;
    padding-right: 0;
    padding-left: $spacer;
    border: 0;
    appearance: none;
    color: $white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: $font-weight;
    text-decoration: none;

    @include breakpoint($bp-medium--down) {
      overflow: hidden;
      width: 100%;
      border-bottom: $menu-mobile-separator solid $white;
      background-color: $brand--primary-80;

      .submenu-toggle {
        height: $menu-mobile-height;
        border: 0;
      }
    }

    @include breakpoint($bp-medium--up) {
      @include primary-nav-angle(left, $quick-links-btn-bg);
      padding: 0 $spacer 0 0;
      background-color: $quick-links-btn-bg;
      font-size: .85rem;

      // Right chevron
      &:after {
        width: $spacer--small;
        color: $brand--secondary;
        content: "\f053";
        font-size: .75em;
      }

      // The submenu toggle is not used in the desktop view
      .submenu-toggle {
        display: none;
      }
    }

    &:hover,
    &:focus {
      background-color: $menu-background-color-active;
      color: $brand--primary;
      text-decoration: none;

      @include breakpoint($bp-medium--up) {
        outline: none;

        &:before {
          background-color: $menu-background-color-active;
        }

        &:after {
          color: $brand--primary;
        }
      }
    }

  }
}
