@use "sass:math";

@use "../0_tools" as *;

.sub-nav {

  a,
  &__nolink {
    display: flex;
    align-items: center;
    padding: math.div($menu-mobile-height, 4);
    border-bottom: $menu-mobile-separator solid $white;
    background-color: #ffdf80;
    color: $brand--primary;
    font-weight: $font-weight--bold;
    line-height: math.div($menu-mobile-height, 2);
    text-decoration: none;

    &:hover {
      background-color: $menu-background-color-active;
      color: $brand--primary;
    }

    &:focus,
    .active {
      background-color: $menu-background-color-active;
      color: $brand--primary;

      .submenu-toggle {
        background-color: $brand--primary;
      }
    }
  }

  li li a,
  li li &__nolink {
    flex-grow: 1;
    border-color: $menu-background-color;
    background-color: $brand--secondary-50;
    font-weight: $font-weight;
    text-transform: none;
    @include has-icon();

    &:before {
      color: $brand--secondary;
      content: "\f0a9";
      font-size: 1.25em;
    }

    &:focus:before,
    &:hover:before {
      color: $brand--primary;
    }
  }

  li li li a {
    background-color: $brand--secondary-30;
  }

  &__title,
  &__title:first-child,
  &__title-linked a {
    @include reduced-title();
    display: block;
    padding: $spacer 0;
    background-color: transparent;
  }

  &__title-linked a {
    padding: $spacer;
  }

  h2:first-child {
    margin-bottom: 0;
  }

  .o-box &__title-linked a {
    margin-right: 0;
    margin-left: 0;
  }

  ul,
  &__menu {
    font-weight: $font-weight--bold;
    text-transform: capitalize;
    @include reset-list();
  }

  & &--active,
  .active {
    background-color: $brand--primary-80;
    color: $white;

    .submenu-toggle {
      background-color: $brand--primary;
    }
  }

  .submenu-toggle {
    background-color: #ffbf00;
  }
}
