@use "sass:math";

@use "../0_tools" as *;

// Primary Navigation
$primary-nav-angle-space: $spacer;

.primary-nav {
  min-height: $menu-height;
  background-color: $menu-background-color;

  // Desktop mode
  @include breakpoint($bp-medium--up) {
    // Set base font sizes for the menu.
    background-color: transparent;
    font-size: .85rem;

    // By default, hide submenus
    ul ul {
      display: none;
    }

    // Flow top level horizontally
    li {
      float: left;

      &:hover ul {
        background-color: $brand--secondary-20;
      }

      // set child links back to normal vertical flow
      li {
        float: none;
      }
    }

    // Top level links.
    li {
      &:hover > .primary-nav__top-link a,
      &:focus-within > .primary-nav__top-link a,
      &:hover > .primary-nav__top-link .primary-nav__nolink {
        color: $brand--primary;
      }
    }

    .submenu-toggle {
      display: none;
    }
  }

  a,
  &__nolink {
    display: flex;
    align-items: center;
    padding: math.div($menu-mobile-height, 4);
    border-bottom: $menu-mobile-separator solid $white;
    background-color: $menu-background-color-mobile;
    color: $brand--primary;
    font-weight: $font-weight--bold;
    line-height: math.div($menu-mobile-height, 2);
    text-decoration: none;

    @include breakpoint($bp-medium--up) {
      padding: 0;
      border-bottom: 0;
      background-color: transparent;
      font-weight: $font-weight--bold;
      line-height: $menu-height;
      @include primary-nav-angle();
      @include primary-nav-angle(right);
    }

    &:hover {
      background-color: $menu-background-color-active;
    }

    &:focus,
    .active {
      background-color: $menu-background-color-active;
    }
  }
  // This is for when a button is added to a menu
  &__button {
    display: flex;
    width: 100%;
    padding: math.div($menu-mobile-height, 4);
    border: 0;
    border-bottom: $menu-mobile-separator solid $white;
    background-color: $menu-background-color-mobile;
    color: $brand--primary;
    font-weight: $font-weight--bold;
    line-height: math.div($menu-mobile-height, 2);
    text-decoration: none;

    @include breakpoint($bp-medium--up) {
      @include primary-nav-angle();
      @include primary-nav-angle(right);
      width: auto;
      padding: 0;
      border-bottom: 0;
      background-color: transparent;
      color: $white;
      font-weight: $font-weight--bold;
      line-height: $menu-height;
      white-space: nowrap;
    }

    &:hover {
      background-color: $menu-background-color-active;
      color: $brand--primary;
    }

    &:focus {
      background-color: $menu-background-color-active;
      color: $brand--primary;
    }
  }

  // Top level links.
  &__top-link a,
  &__top-link &__nolink {
    @include breakpoint($bp-medium--up) {
      color: $white;
      // Prevent top level links from wrapping.
      white-space: nowrap;

      &:hover {
        color: $brand--primary;
      }
    }
  }

  li li a,
  li li &__nolink {
    flex-grow: 1;
    border-color: $menu-background-color;
    background-color: $brand--secondary-50;
    font-weight: $font-weight;

    @include breakpoint($bp-medium--down) {
      @include has-icon();

      &:before {
        color: $brand--secondary;
        content: "\f0a9";
        font-size: 1.25em;
      }

      &:focus:before,
      &:hover:before {
        color: $brand--primary;
      }
    }

    @include breakpoint($bp-medium--up) {
      margin-left: 0;
      padding: $spacer--small $spacer;
      font-size: .9375em;
      line-height: 1.35;

      &:focus {
        background-color: $menu-background-color-active;
      }

      &:before,
      &:after {
        display: none;
      }
    }
  }

  li li li a {
    background-color: $brand--secondary-30;
  }

  // Justify the top level menu so items are evenly spaced horizontally
  &--justify {
    @include breakpoint($bp-medium--up) {
      > .menu {
        display: flex;
        flex-wrap: wrap; // This is to prevent the Quicklinks falling off page.
        justify-content: flex-start;
      }

      li {
        float: none;
        flex-basis: 0;
        flex-grow: 1;
        width: auto;

        &:last-child .primary-nav__top-link a,
        &:last-child .primary-nav__top-link .primary-nav__nolink {
          margin-right: $primary-nav-angle-space;
        }
      }

      a:after,
      .primary-nav__nolink:after {
        margin-left: auto;
      }
    }
  }

  // Mega Menu
  &--mega {
    @include breakpoint($bp-medium--up) {
      overflow: hidden;
      max-height: $menu-height;
      margin-right: -$primary-nav-angle-space; // Offset to spill into the search popup.
      transition: max-height $transition-time;

      &.is-hover {
        max-height: 600px; // Set to be larger than needed
      }

      a:after,
      .primary-nav__nolink:after {
        margin-left: auto;
      }

      > .menu {
        display: flex;
        flex-wrap: wrap; // This is to prevent the Quicklinks falling off page.
      }

      li {
        float: none;
        width: auto;
        min-width: 9em;
      }

      li li a,
      li li .primary-nav__nolink {
        background: none;
      }

      // Top level link - Hovering over anywhere on the menu.
      li:hover .primary-nav__top-link a,
      li:hover .primary-nav__top-link .primary-nav__nolink,
      li:focus-within .primary-nav__top-link a,
      li:focus-within .primary-nav__top-link .primary-nav__nolink {
        background-color: $brand--secondary-70;
        color: $brand--primary;

        &:before,
        &:after {
          background-color: $brand--secondary-70;
        }
      }

      // Top level link
      li .primary-nav__top-link a:hover {
        background-color: $brand--secondary;

        &:before,
        &:after {
          background-color: $brand--secondary;
        }
      }

      .primary-nav__top-link {
        background-color: $brand--primary;
      }
    }
  }

  // Superfish Dropdown Menu
  &--superfish {
    @include breakpoint($bp-medium--up) {
      // Bottom line to fake a separation when links overflow to a second row.
      box-shadow: inset 0 -1px 0 $brand--primary-90;

      li {
        position: relative;
      }

      ul ul {
        position: absolute;
        z-index: $zindex-dropdown;
        top: 100%;
        left: 0;
        display: none;
        min-width: 12em;
        background-color: $white;
      }

      ul ul ul {
        top: 0;
        left: 100%;
      }

      li li a,
      li li .primary-nav__nolink {
        background-color: $brand--secondary-10;
      }

      li li li a,
      li li li .primary-nav__nolink {
        background-color: $brand--secondary-20;
      }

      li li li li a,
      li li li li .primary-nav__nolink {
        background-color: $brand--secondary-30;
      }

      // Style the submenu toggle as an arrow.
      .primary-nav__submenu-indicator {
        @include has-icon(right);
        width: $spacer;
        height: auto;
        margin-right: -$spacer--small;
        margin-left: auto;
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;

        &:focus {
          box-shadow: none;
        }

        &:after {
          color: $brand--secondary;
          content: "\f054";
          font-size: .75em;
        }
      }

      li li .primary-nav__submenu-indicator:after {
        color: $brand--primary;
      }

      // Hide the toggle at the limit of 3 levels.
      li li li .primary-nav__submenu-indicator {
        display: none;
      }

      li:hover,
      .sf--hover {
        > ul {
          display: block;
        }

        > .primary-nav__top-link a,
        > .primary-nav__top-link .primary-nav__nolink {
          background-color: $menu-background-color-active;

          &:before,
          &:after {
            background-color: $menu-background-color-active;
          }

          .primary-nav__submenu-indicator:after {
            color: $brand--primary;
          }
        }
      }

      // Top level links.
      li:hover > .primary-nav__top-link a,
      .sf--hover > .primary-nav__top-link a,
      li:hover > .primary-nav__top-link .primary-nav__nolink {
        color: $brand--primary;
      }
    }
  }

  .submenu-toggle {
    &:focus {
      box-shadow: inset 0 0 0 3px $brand--secondary;
      outline: none;
    }
  }
}
