@use "sass:math";

@use "sass-burger/burger";
@use "../0_tools" as *;

// Mobile Nav Toggle
.nav-toggle {
  @include hide-text;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $header-bar-height-mobile + $spacer--small;
  height: $header-bar-height-mobile;
  padding: 0;
  border: 0;
  appearance: none;
  background: transparent;
  text-indent: 300%; // Fix "Menu" text from showing since it is inside a span.

  &:focus {
    outline: dotted $brand--secondary;
    outline-offset: -.5rem;
  }

  &__icon--menu {
    @include burger.burger(math.div($header-bar-height-mobile, 2.25), 3px, 5px, $white);

    & {
      margin: 0;
    }

    .nav-toggle--active & {
      @include burger.burger-to-cross();
    }
  }

}
