@use "../0_tools" as *;

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.75rem;
  padding: 0 $container-edge-space;
  color: $brand--primary-80;
  font-size: .875rem;
  font-weight: $font-weight--bold;
  list-style: none;

  li {

    &:after {
      margin: 0 $spacer * .6 0 $spacer--small;
      color: $brand--primary-60;
      content: "\2022";
    }

    &:last-child:after {
      content: "";
    }
  }

  a {
    color: $gray;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  :last-child a {
    color: $brand--primary-80;
  }
}
