@use "../0_tools" as *;

// Page title
.page-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacer--small;
  padding: $spacer 0 $spacer $container-edge-space;
  box-shadow: 0 2px 1px rgba($brand--primary, .15);
  color: $brand--primary;
  font-size: 1.5rem;
  line-height: 1;


  @include breakpoint($bp-medium--up) {
    justify-content: initial;
    margin-bottom: 0;
    font-size: 2.65rem;
  }

  // Slanted line at the end.
  &:after {
    @include category-brand-background($brand--primary-40);
    flex-shrink: 0;
    width: $spacer;
    margin: -($spacer) 0 (-($spacer)) $spacer--large;
    content: "";


    @include breakpoint($bp-medium--up) {
      width: $spacer--medium;
      transform: skewX(-15deg);
    }
  }
}
