@use "../0_tools" as *;

.photo-card {
  $pc-block: &;
  position: relative;
  display: block;
  overflow: hidden;
  color: inherit;
  container-type: inline-size;
  text-align: center;
  text-decoration: none;

  &__indicator {
    position: absolute;
    z-index: 3;
    top: 40%;
    left: -10px;
    display: block;
    width: 20%;
    height: 20%;
    margin: auto;
    opacity: 0;
    transition: all .2s ease-in-out;

    svg path {
      fill: $white;
    }
  }

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    transform: translateZ(0);

    img {
      z-index: 1;
      width: 100%;
      height: auto;
      transition: all $transition-time ease-in-out;
    }

    &:after {
      @include force-anti-alias();
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--category-brand, #{$ucd-blue});
      content: " ";
      opacity: 0;
      transition: all $transition-time ease-in-out;
    }
  }

  &__title {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1.5em 0 0;
    color: var(--forced-contrast, var(--category-brand--on-white, #{$ucd-blue}));
    font-size: clamp(21px, 7cqi, 7cqi);
    text-align: center;
    transition: all .2s ease-in-out;
  }

  &:hover,
  &:focus {
    #{$pc-block}__image {
      &:after {
        opacity: .6;
      }
    }

    #{$pc-block}__indicator {
      left: 40%;
      opacity: 1;
    }

    #{$pc-block}__title {
      padding: 1em 0 .5em;
    }
  }

  @media (hover: none) {
    #{$pc-block}__indicator {
      left: 40%;
      opacity: 1;
    }

    #{$pc-block}__title {
      padding: 1em 0 .5em;
    }
  }

}
