@use "../0_tools" as *;

.poster-list {
  @include breakpoint($bp-small--up) {
    display: flex;
    flex-wrap: wrap;
  }

  .vm-poster {
    margin-bottom: $spacer;

    @include breakpoint($bp-narrow--up) {
      width: 49%;
      margin-right: 2%;
      margin-bottom: 2%;

      h2 {
        font-size: 1rem;
        line-height: 1.4;
      }

      p {
        font-size: .75rem;
        line-height: 1.3;
      }
    }

    @include breakpoint($bp-medium--up) {
      h2 {
        font-size: 1.125rem;
        line-height: 1.4;
      }

      p {
        font-size: .875rem;
        line-height: 1.3;
      }
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  &--2-col {
    .vm-poster {
      @include breakpoint($bp-wide--up) {
        &__body {
          img {
            position: relative;
            z-index: $zindex-component-fg;
            width: 35px;
            margin-left: -35px;
          }
        }

        h2 {
          font-size: .875rem;
          line-height: 1.4;
        }

        p {
          font-size: .625rem;
          line-height: 1.3;
        }
      }
      @include breakpoint($bp-medium) {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
