@use "../0_tools" as *;

// Basic short search form

// Search form submit mixin for creating a search input with magnifying glass icon.
// Font Awesome Icon must be added to value attribute of the type submit
@mixin search-form-submit {
  @include vertical-center();
  position: absolute;
  top: 50%;
  right: 1em;
  overflow: hidden;
  width: 2.1em;
  height: 2.1em;
  border: 0;
  border-radius: 2.2em;
  background-color: $brand--primary-80;
  box-shadow: none;
  color: $brand--secondary-20;
  cursor: pointer;
  font-family: $font-family--icons;
  font-weight: $font-weight--icons;
  letter-spacing: 1em;
  line-height: 1.6;
  text-indent: -.2em;
  transform: translateY(-50%);
  transition: background-color .25s ease-in-out;

  &:hover {
    background-color: $brand--primary-70;
  }

  &:focus {
    background-color: $brand--secondary;
    color: $brand--secondary-20;
  }
}

.search-form {
  position: relative;
  background: $brand--secondary-40;

  &__input {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: $spacer * 3;
    padding-right: 70px;
    border: 0;
    background: transparent;
    box-shadow: none;
    color: $brand--primary;
    font-size: $font-size--large;
    line-height: 1.3;
  }

  &__submit {
    @include search-form-submit();
  }

  &__input,
  &__submit {
    &:focus {
      border-color: transparent;
      box-shadow: 0 0 0 3px $brand--primary;
      outline-color: transparent;
      outline-style: solid;
    }
  }
}
