@use "../0_tools" as *;

.search-result {
  margin-bottom: $spacer--medium;

  &__title {
    @include heading--primary();
    font-size: 1.25rem;

    @include breakpoint($bp-narrow--up) {
      font-size: 1.5rem;
    }

    a {
      color: $brand--primary-80;
      text-decoration: none;

      &:hover {
        color: $brand--primary-80;
        text-decoration: underline;
      }
    }
  }

  &__info {
    color: $gray;
  }
}
