@use "sass:math";

@use "../0_tools" as *;

// Search PopUp
$search-popup-font-size: 3.15rem;
$search-popup-mobile-input-height: 40px;
$search-popup-submit-size: $search-popup-font-size;
$search-popup-submit-size--mobile: $search-popup-mobile-input-height + 18px;
$search-popup-close-size: math.div($search-popup-submit-size, 1.5);
$search-popup-nav-icon-size: $menu-height - math.div($menu-height, 4);

// Create a placeholder for the basic search popup icon
@mixin search-popup-icon() {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  width: $search-popup-nav-icon-size;
  height: $search-popup-nav-icon-size;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: $brand--primary;
  background-size: 50%;
  color: $white;
  text-indent: inherit;

  &:before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    content: "\f002";
    font-family: $font-family--icons;
    font-weight: $font-weight--icons;

    .search-popup__open--close & {
      content: "\f00d";
      font-size: 1.15em;
    }
  }
}

// Deprecated sass var
%search-popup__icon {
  @include search-popup-icon();
}

.search-popup {
  $block: &;
  padding: $spacer;
  border-bottom: 1px solid $white;

  @include breakpoint($bp-medium--up) {
    position: absolute;
    z-index: $zindex-popover;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    visibility: hidden;
    height: 8em;
    padding: initial;
    border-color: $gray-light;
    background-color: $white;
    opacity: 0;
    text-align: center;
    transition: opacity $transition-time;
  }

  @include breakpoint($bp-medium--up) {

    .search-form {
      width: 60%;
      margin: $spacer--large auto;
    }
  }

  &.is-open {
    visibility: visible;
    opacity: 1;
  }

  &__open {
    @include primary-nav-angle(left, $brand--primary-90);
    @include primary-nav-angle(right, $brand--primary-90);
    display: none;
    align-items: center;
    margin-right: -2px; // Offset to ensure that the angles overlap the quicklinks.
    padding: 0;
    border: 0;
    background-color: $brand--primary-90;

    @include breakpoint($bp-medium--up) {
      display: flex;
    }

    &:focus,
    &:hover {
      background-color: $brand--secondary;
      color: $brand--primary;
      outline: none;
    }

    // Add .search-popup--edge as a wrapper when the button will be at the edge
    // of the screen due to no quicklinks being present.
    #{$block}--edge & {
      padding-right: $spacer--small;
    }

    &:before {
      margin-right: .15rem;
    }

    &:after {
      margin-left: .15rem;
    }
  }

  &__open-icon {
    @include search-popup-icon();

    &--close:before {
      content: "\f00d";
    }
  }

  &__close-icon {
    display: block;
    width: $search-popup-close-size;
    height: 3px;
    background-color: $gray-light;
    transform: rotate(45deg);

    &:before {
      position: absolute;
      z-index: $zindex-navbar;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $gray-light;
      content: "";
      transform: rotate(90deg);
    }
  }
}
