@use "sass:math";

@use "../0_tools" as *;

// Slideshow using Slick

$slideshow-button-size: 2.5rem;
$slideshow-thumbnails-button-width: 30px;
$slideshow-caption-offset: $slideshow-button-size * 3;

// Ajax Loader
.slick-list {
  .slick-loading & {
    background: #fff url("../images/slideshow-ajax-loader.gif") center center no-repeat;
  }
}

// Arrows
.slick-prev,
.slick-next {
  position: absolute;
  z-index: $zindex-component-bg;
  bottom: $spacer * 2.5;
  left: $spacer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $slideshow-button-size;
  height: $slideshow-button-size;
  border: 0;
  background-color: rgba(0, 0, 0, .7);
  color: $white;
  transition: background-color $transition-time;

  &:after {
    content: "\f053";
    font-family: $font-family--icons;
    font-size: math.div($slideshow-button-size, 2);
    font-weight: $font-weight--icons;
  }

  &:hover,
  &:focus {
    background-color: $brand--secondary;
    color: $brand--primary;
  }

  &.slick-disabled {
    opacity: .2;
  }
}

.slick-next {
  left: $slideshow-button-size + $spacer--medium;

  &:after {
    content: "\f054";
  }
}

.slick-dots {
  @include reset-list();
  display: flex;
  flex-wrap: wrap;
  padding: $spacer--small $spacer--small 0 $slideshow-caption-offset;
  background-color: $black;

  li {
    padding-bottom: $spacer--small;
  }

  button {
    width: .75rem;
    height: .75rem;
    margin-right: $spacer--tiny;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: $ucd-black-70;
    transition: background-color $transition-time;

    &:hover {
      background-color: $brand--secondary;
    }
  }

  .slick-active button {
    background-color: $brand--secondary;
    opacity: 1;
  }

}

// Main Slideshow
.slideshow {
  position: relative;
  font-size: 0; // This is a hack to prevent the inline-block on slides from adding vertical white space.

  &__item {
    position: relative;

    img {
      width: 100%;

      // Fallback for when a src hasn't loaded yet.
      &:not([src]) {
        width: auto;
      }
    }

    &--has-title img {
      filter: brightness(70%);
    }
  }

  &__text {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-rows: auto minmax($slideshow-button-size * 2.25, 1fr);
    width: 100%;
    gap: $spacer--small;
  }

  &__title {
    margin-left: $spacer;
    color: $white;
    font-size: 2rem;
    font-weight: $font-weight--extra-bold;
    line-height: 1;

    @include breakpoint($bp-narrow--up) {
      font-size: 3.5rem;
    }
  }

  &__caption {
    display: flex;
    align-items: center;
    clear: both;
    grid-row: 2 / 3;
    padding: $spacer--small $spacer--small $spacer--small $slideshow-caption-offset;
    background-color: rgba(0, 0, 0, .5);
    color: $white;
    font-size: .75rem;
    line-height: 1.3;

    @include breakpoint($bp-narrow--up) {
      font-size: 1rem;
    }
  }
}


// Thumbnails Navigation Controls
.slider-nav {
  position: relative;
  margin-top: -15px;

  @include breakpoint($bp-small--down) {
    display: none;
  }

  .slideshow__item {
    padding: 10px;
    filter: brightness(70%);
    transition: filter $transition-time;

    @include breakpoint($bp-narrow--down) {
      padding: 5px;
    }

    img {
      cursor: pointer;
    }
  }

  .slick-current .slideshow__item {
    filter: brightness(100%);
  }
}


// Add some space when a slideshow is right next to another
.slick-slider + .slick-slider {
  margin-top: $spacer;
}
