// Slim Select styles for the javascript library
@use "../0_tools" as *;
@use "../1_base_html/forms-mixin" as *;

// This overwrites the npm package css so we can not use BEM.
.ss-main {
  @include form-input();
  min-height: $input-height;
  padding: $spacer--tiny ($spacer--small + $spacer--tiny);

  // Selected options.
  .ss-values {
    gap: .125rem;

    .ss-value {
      margin: 0;
      padding: $spacer--tiny $spacer--small;
      background-color: $brand--primary-80;

      .ss-value-text {
        font-size: .875rem;
      }
    }

    .ss-placeholder {
      color: $gray;
    }
  }
}

.ss-content .ss-list .ss-option {
  .ss-highlighted,
  &:hover,
  &:not(.ss-disabled).ss-selected {
    background-color: $brand--primary-80;
  }
}
