@use "../0_tools" as *;
@use "../2_base_class/buttons-mixin" as *;

sl-tab-group {
  margin-bottom: $spacer;
  background-color: $gray-lighter;
}

sl-tab::part(base) {
  @include btn();
  margin-top: $spacer--tiny;
  margin-left: $spacer--tiny;
  border-color: transparent;
  background-color: $white;
  color: $gray;
  font-weight: $font-weight;
  transition: background-color .2s ease-in-out;
}

// stylelint-disable selector-no-qualifying-type
sl-tab[aria-selected="true"]::part(base) {
  background-color: $brand--primary-80;
  color: $white;
}

sl-tab[aria-selected="true"]::part(base):hover {
  color: $font-color;
}
// stylelint-enable selector-no-qualifying-type

sl-tab-group::part(scroll-button--start) {
  z-index: 1;
}

sl-tab-group::part(scroll-button--start),
sl-tab-group::part(scroll-button--end) {
  top: 1px;
  border: 1px solid $white;
  background-color: $gray-lighter;
}

sl-tab-group::part(scroll-button--start):hover,
sl-tab-group::part(scroll-button--end):hover {
  background-color: $ucd-gold;
}

sl-tab-panel {
  margin: 1px;
  padding: $spacer;
  border-top: 0;
  background-color: $white;
}

sl-tab::part(base):hover {
  background-color: $brand--secondary;
}
