@use "../0_tools" as *;

// Vertical Link
// Add the .vertical-link--circle modifier to contain the image in a circle.
.vertical-link {
  $block: &;
  @include link-style-secondary();
  display: block;
  margin-bottom: $spacer;
  text-align: center;
  text-decoration: none;

  &__figure {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacer--small;
    transition: transform .2s ease-in-out;

    &:hover {
      transform: scale(1.15);
    }

    #{$block}--circle & {
      position: relative;
      width: 6.25rem;
      height: 6.25rem;
      border-radius: 50%;
      background-color: $gray-lighter;
      transition: background-color .2s ease-in-out;

      &:hover {
        transform: initial;
      }

      &:after {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        border: .25em solid var(--category-brand, #{$brand--primary});
        border-radius: 50%;
        content: "";
        opacity: 0;
        transition: all .2s ease-in-out;
      }
    }

    #{$block}--circle:hover &,
    #{$block}--circle:focus & {
      @include category-brand-knockout($brand--primary);

      &:after {
        opacity: 1;
        transform: scale(1.15);
      }
    }

    #{$block}--tilt-circle & {
      @include category-brand-knockout($ucd-blue);
      position: relative;
      width: 6.25rem;
      height: 6.25rem;
      margin-bottom: $spacer * 1.5;
      border-radius: 50%;
      transform: rotate(0);
    }

    #{$block}--tilt-circle:hover &,
    #{$block}--tilt-circle:focus & {
      transform: rotate(25deg);
    }
  }

  &__image {
    color: var(--category-brand, #{$brand--primary});
    object-fit: contain;

    #{$block}--circle & {
      width: 70%; // Going any less will make font-awesome icons move horizontally.
    }

    #{$block}--circle:hover &,
    #{$block}--circle:focus & {
      color: $white;
    }

    #{$block}--tilt-circle & {
      color: $white;
    }
  }

  &__title {
    font-size: 1rem;
    font-style: normal;
    font-weight: $font-weight--bold;
    line-height: 1.2;
    text-transform: uppercase;

    #{$block}--tilt-circle & {
      margin-top: 0;
      padding-bottom: $spacer;
      padding-bottom: 0;
      color: var(--forced-contrast, #{$ucd-blue});
      font-size: $font-size--large;
      font-weight: $font-weight--extra-bold;
      text-transform: initial;
      transition: all .35s ease-in-out;
    }

    #{$block}--tilt-circle &:after {
      display: block;
      width: $spacer--huge;
      margin: $spacer * 1.5 auto 0;
      border-bottom: 1px solid var(--category-brand, #{$tahoe});
      content: "";
    }

    #{$block}--tilt-circle:hover & {
      margin-top: -$spacer--small;
      padding-bottom: $spacer--small;
      color: var(--forced-contrast, #{$ucd-blue});
    }
  }

  .footer & {

    &#{$block}--tilt-circle #{$block}__title,
    &#{$block}--circle #{$block}__title {
      color: $white;
    }

    &:hover #{$block}__title {
      color: $white;
      text-decoration: underline;
    }
  }
}
