@use "../0_tools" as *;

$vm-poster-shift: 4.125rem;

.vm-poster {
  // Save the name of this component to a variable so it can be reused.
  $block: &;
  display: block;
  text-decoration: none;

  @include breakpoint($bp-small--down) {
    font-size: .625rem;
    line-height: 1.3;
  }

  &:hover {
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  &__body {
    @include category-brand-knockout($brand--primary);
    @include has-icon();
    overflow: hidden;

    // Icon.
    &:before {
      flex-shrink: 0;
      margin-right: 0;
      margin-left: $spacer;
      content: "\f35a";
      font-size: 2.25rem;
      font-weight: $font-weight--icons-regular;

      @include breakpoint($bp-small--up) {
        font-size: $vm-poster-shift - 1rem;
        opacity: 0;
        transform: translateX(-$vm-poster-shift);
        transition: transform 1s ease, opacity 1s ease;
      }

      #{$block}:hover & {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__body-text {
    padding: $spacer;
    transition: transform 1s ease;

    @include breakpoint($bp-small--up) {
      transform: translateX(-$vm-poster-shift);
    }

    #{$block}:hover & {
      transform: translateX(0);
    }
  }

  &__title {
    color: var(--category-brand-contrast-color, #{$white});

    @include breakpoint($bp-small--down) {
      font-size: .875rem;
      line-height: 1.4;
    }
  }

  // Fix spacing of paragraphs.
  p:last-child {
    margin-bottom: 0;
  }
}
