@use "../0_tools" as *;
@use "../3_objects/o-media" as *;

.media-link {
  --media-link-background: #{hex-to-rgb($brand--secondary)};
  @include o-media(true, false);

  & {
    @include link-style-secondary();
    padding: $spacer--small;
    color: $font-color;
    text-decoration: none;
    transition: background-color .2s ease-in-out;
  }

  @include breakpoint($bp-small--up) {
    padding: $spacer--medium;
  }

  &:hover {
    background-color: rgba(var(--category-brand-rgb, var(--media-link-background)), .1);
  }

  &__figure {
    max-width: 25%;

    // Prevent an inside figure tag from adding extra margins.
    figure,
    img {
      margin-bottom: 0;
    }
  }

  &__title {
    @include heading--auxiliary();
    color: $brand--primary-80;
  }

  .category-brand__background & {
    color: var(--category-brand-contrast-color, $white);

    &:hover {
      background-color: rgba(var(--category-brand-contrast-color-rgb, var(--media-link-background)), .1);
    }

  }
}
