/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */

#sg-patterns {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5em;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sg-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.sg-colors li {
  padding: 0.5em;
  margin: 0 0.5em 0.5em 0;
  width: 9rem;
  border: 1px solid #ddd;
}

.sg-swatch {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
}

.sg-swatch:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.sg-label {
  font-size: 90%;
  line-height: 1;
}

#atoms-logo-reversed .sg-pattern-example {
	background: #444444;
	display: inline-block;
}

#molecules-logo-footer-link .sg-pattern-example {
	background: #444444;
	display: inline-block;
}

.layout-demo .panel {
  background: pink;
}

.layout-demo :where(.l-container, .l-container--narrow) {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: lightgray;
}