<div class="layout-section layout-section__bg-image layout-section__bg-image--darken l-gutter--narrow" style="--layout-section-bg-url: url({{ img.landscape16x9.src }})">
  <div class="panel">
    <h2>Darkened Section Background Image</h2>
    <p>Content <a href="#">Link</a><br>
      Pass in a <mark>--layout-section--bg-brightness</mark> percentage to change the darkness.
    </p>
  </div>
</div>
