<div class="layout-section layout-section__bg-image l-gutter--narrow layout-section--dark-on-light layout-section--force-contrast" style="--layout-section-bg-url: url({{ img.landscape16x9.src }})">
  <div class="panel">
    <h2>Section Background Image</h2>
    <p>Content with forced contrast <a href="#">Link</a></p>
  </div>
</div>
