<div class="layout-section layout-section__bg-image l-gutter--narrow" data-lazy-bg-url="url({{ img.landscape16x9.src }})">
  <div class="panel">
    <h2>Lazy Loaded Section Background Image</h2>
    <p>Content <a href="#">Link</a></p>
  </div>
</div>
