<div class="layout-section l-gutter--narrow layout-section--wonder-blue layout-section--force-contrast">
  <div class="panel">
    <h2>Section Background Colored</h2>
    <p>Content <a href="#">Link</a></p>
  </div>
</div>
