<div class="layout-section l-gutter--narrow layout-section--dark-on-light layout-section--force-contrast" style="background-color: lightgrey;">
  <div class="panel">
    <h2>Section Background Dark-on-Light</h2>
    <p>Content <a href="#">Link</a></p>
  </div>
</div>
