<div class="layout-section l-gutter--narrow layout-section--light-on-dark layout-section--force-contrast" style="background-color: black;">
  <div class="panel">
    <h2>Section Background Light-on-Dark</h2>
    <p>Content <a href="#">Link</a></p>
  </div>
</div>
