<section class="hero-banner {{ styleModifier }}">
  <div class="hero-banner__image">
    {{#if largeImage }}
      {{> atoms-hero-large }}
    {{else if smallImage }}
      {{> atoms-title-banner }}
    {{else}}
      {{> atoms-hero }}
    {{/if}}
  </div>

  <div class="hero-banner__body">
    <div class="hero-banner__title">{{ heroBanner.title }}</div>

    <div class="hero-banner__summary">
      <p>{{ excerpt.short }}</p>
    </div>

    <div class="hero-banner__button-group">
      {{#if btnVideo }}
        <button class="hero-banner__button hero-banner__video-play">Play Video</button>
      {{/if }}
      <a href="{{ url }}" class="hero-banner__button">{{ heroBanner.btnText }}</a>
    </div>
  </div>

  {{#if btnVideo }}
    <div class="hero-banner__video-popup u-hidden">
      <iframe width="560" height="315" data-src="https://www.youtube.com/embed/PAwB_t_iM7U" frameborder="0" allowfullscreen loading="lazy"></iframe>
    </div>
  {{/if }}
</section>
