<div class="layout-demo">
  <h2>Basic</h2>
  <div class="l-basic">
    <div class="l-content">
      <div class="panel">Content</div>
    </div>
    <div class="l-sidebar-first">
      <div class="panel">Sidebar First</div>
    </div>
  </div>

  <h3>Stacked</h3>
  <div class="l-basic">
    <div class="l-content">
      <div class="panel">Content</div>
    </div>
    <div class="l-sidebar-first">
      <div class="panel">Sidebar First</div>
    </div>
    <div class="l-sidebar-second">
      <div class="panel">Sidebar Second</div>
    </div>
  </div>

  <h2>Basic - Flipped</h2>
  <div class="l-basic--flipped">
    <div class="l-content">
      <div class="panel">Content</div>
    </div>
    <div class="l-sidebar-second">
      <div class="panel">Sidebar Second</div>
    </div>
  </div>

  <h3>Stacked</h3>
  <div class="l-basic--flipped">
    <div class="l-content">
      <div class="panel">Content</div>
    </div>
    <div class="l-sidebar-first">
      <div class="panel">Sidebar First</div>
    </div>
    <div class="l-sidebar-second">
      <div class="panel">Sidebar Second</div>
    </div>
  </div>

  <h2>Basic - 3 columns</h2>
  <div class="l-basic--3col">
    <div class="l-content">
      <div class="panel">Content</div>
    </div>
    <div class="l-sidebar-first">
      <div class="panel">Sidebar First</div>
    </div>
    <div class="l-sidebar-second">
      <div class="panel">Sidebar Second</div>
    </div>
  </div>

  <h2>Basic - Left Split</h2>
  <p>First region will go above content in mobile.</p>
  <div class="l-basic">
    <div class="l-sidebar-first">
      <div class="panel">Sidebar First</div>
    </div>
    <div class="l-content">
      <div class="panel">Content</div>
    </div>
    <div class="l-sidebar-second">
      <div class="panel">Sidebar Second</div>
    </div>
  </div>

  <h2>Basic - Right Split</h2>
  <p>First region will go above content in mobile.</p>
  <div class="l-basic--flipped">
    <div class="l-sidebar-first">
      <div class="panel">Sidebar First</div>
    </div>
    <div class="l-content">
      <div class="panel">Content</div>
    </div>
    <div class="l-sidebar-second">
      <div class="panel">Sidebar Second</div>
    </div>
  </div>
</div>