<div class="layout-demo">
  <h2>Edge to Edge</h2>
  <div class="panel">
    Content
  </div>

  <h3>With Gutter</h3>
  <div class="l-gutter panel">
    Content
  </div>

  <h3>With Narrow Gutter</h3>
  <div class="l-gutter--narrow panel">
    Content
  </div>


  <h2>Container</h2>
  <div class="l-container panel">
    Content
  </div>

  <h3>With Gutter</h3>
  <div class="l-container l-gutter panel">
    Content
  </div>

  <h3>With Narrow Gutter</h3>
  <div class="l-container l-gutter--narrow panel">
    Content
  </div>


  <h2>Narrow Container</h2>
  <div class="l-container--narrow panel">
    Content
  </div>

  <h3>With Gutter</h3>
  <div class="l-container--narrow l-gutter panel">
    Content
  </div>

  <h3>With Narrow Gutter</h3>
  <div class="l-container--narrow l-gutter--narrow panel">
    Content
  </div>


  <h2>Nested Container</h2>
  <div class="l-container">
    <div class="l-container panel">
      Content - this should be flush
    </div>
  </div>

  <h3>Nested Narrow Container</h3>
  <div class="l-container">
    <div class="l-container--narrow panel">
      Content - this should be flush
    </div>
  </div>

  <h3>Nested Gutter</h3>
  <div class="l-container">
    <div class="l-gutter panel">
      Content
    </div>
  </div>

  <h3>Nested Narrow Gutter</h3>
  <div class="l-container">
    <div class="l-gutter--narrow panel">
      Content
    </div>
  </div>


  <h2>Full Width (breakout of container)</h2>
  <div class="l-container">
    <div class="l-full-width panel">
      Content
    </div>
  </div>

  <h3>With Gutter</h3>
  <div class="l-container">
    <div class="l-full-width l-gutter panel">
      Content
    </div>
  </div>

  <h3>With Narrow Gutter</h3>
  <div class="l-container">
    <div class="l-full-width l-gutter--narrow panel">
      Content
    </div>
  </div>
</div>