<div class="layout-demo">

  <h2>1 Column</h2>
  <div class="l-container">
    <div class="panel">
      Content
    </div>
  </div>

  <h2>Full Width</h2>
  <p>This will break out of a container to fill the screen Edge-to-Edge</p>
  <div class="l-container">
    <div class="l-full-width panel">
      Content
    </div>
  </div>

  <h2>Overflow</h2>
  <p>This will break out of a container slightly</p>
  <div class="l-container">
    <div class="l-overflow panel">
      Content
    </div>
  </div>

  <h2>Shrink</h2>
  <p>Decrease the width size so it is smaller than the outside content.</p>
  <div class="l-container">
    <div class="l-shrink panel">
      Content
    </div>
  </div>

</div>
