<div class="layout-demo">

  <h2>2 Columns</h2>
  <div class="l-2col">
    <div class="l-first">
      <div class="panel">First</div>
    </div>
    <div class="l-second">
      <div class="panel">Second</div>
    </div>
  </div>

  <h2>2 Columns - 33/67</h2>
  <div class="l-2col l-2col--33-67">
    <div class="l-first">
      <div class="panel">First</div>
    </div>
    <div class="l-second">
      <div class="panel">Second</div>
    </div>
  </div>

  <h2>2 Columns - 67/33</h2>
  <div class="l-2col l-2col--67-33">
    <div class="l-first">
      <div class="panel">First</div>
    </div>
    <div class="l-second">
      <div class="panel">Second</div>
    </div>
  </div>

  <h2>2 Columns - 25/75</h2>
  <div class="l-2col l-2col--25-75">
    <div class="l-first">
      <div class="panel">First</div>
    </div>
    <div class="l-second">
      <div class="panel">Second</div>
    </div>
  </div>

  <h2>2 Columns - 75/25</h2>
  <div class="l-2col l-2col--75-25">
    <div class="l-first">
      <div class="panel">First</div>
    </div>
    <div class="l-second">
      <div class="panel">Second</div>
    </div>
  </div>

</div>
