<div class="layout-demo">

  <h2>3 Columns</h2>
  <div class="l-3col">
    <div class="l-first">
      <div class="panel">First</div>
    </div>
    <div class="l-second">
      <div class="panel">Second</div>
    </div>
    <div class="l-third">
      <div class="panel">Third</div>
    </div>
  </div>

  <h2>3 Columns - 25/50/25</h2>
  <div class="l-3col l-3col--25-50-25">
    <div class="l-first">
      <div class="panel">First</div>
    </div>
    <div class="l-second">
      <div class="panel">Second</div>
    </div>
    <div class="l-third">
      <div class="panel">Third</div>
    </div>
  </div>

  <h2>3 Columns - 25/25/50</h2>
  <div class="l-3col l-3col--25-25-50">
    <div class="l-first">
      <div class="panel">First</div>
    </div>
    <div class="l-second">
      <div class="panel">Second</div>
    </div>
    <div class="l-third">
      <div class="panel">Third</div>
    </div>
  </div>

  <h2>3 Columns - 50/25/25</h2>
  <div class="l-3col l-3col--50-25-25">
    <div class="l-first">
      <div class="panel">First</div>
    </div>
    <div class="l-second">
      <div class="panel">Second</div>
    </div>
    <div class="l-third">
      <div class="panel">Third</div>
    </div>
  </div>

</div>
