<div class="layout-demo">

  <h2>4 Columns</h2>
  <div class="l-4col">
    <div class="l-first">
      <div class="panel">First</div>
    </div>
    <div class="l-second">
      <div class="panel">Second</div>
    </div>
    <div class="l-third">
      <div class="panel">Third</div>
    </div>
    <div class="l-fourth">
      <div class="panel">Fourth</div>
    </div>
  </div>

</div>
