<div class="layout-demo">

  <h2>2 Columns Sibling Grid</h2>
  <div>test</div>
  <div class="l-sibling-grid--half panel">
    First
  </div>
  <div class="l-sibling-grid--half panel">
    Second
  </div>

  <h2 class="u-clear">3 Columns Sibling Grid</h2>
  <div class="l-sibling-grid--third panel">
    First
  </div>
  <div class="l-sibling-grid--third panel">
    Second
  </div>
  <div class="l-sibling-grid--third panel">
    Third
  </div>

</div>
