// Global variables for site-wide use
@use "sass:list";
@use "variables" as *;

// Define page margins
@page {
  margin: .5cm;
}

// Simplify base elements
body {
  background-color: $white;
  font: 12pt system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.3;
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 14pt;
}

// Hide elements
.header__bar,
.mobile-bar,
.l-navbar,
.footer,
.breadcrumbs,
.page-title__title:after,
.pager,
.btn,
.btn--invert,
.btn--alt,
.btn--primary,
.hero-banner,
.priority-links,
.slideshow,
.focal-link,
.page-title img,
.social-share,
.category-filter__list-item--active:before,
.category-filter__list-item--active:hover:before,
.category-filter__link:before,
video,
audio,
object,
embed,
button,
.responsive-iframe,
.gallery a:after {
  display: none;
}

.header {
  padding-bottom: 12pt;
}

.page-title {
  box-shadow: none;
}

.vm-poster__body-text {
  padding-left: 0;
}

.vm-teaser {
  // Featured Teaser
  &--featured {
    background-color: $gray-lighter;
    color: $ucd-blue;

    a,
    .vm-teaser__title,
    .vm-teaser__byline,
    .byline {
      color: $ucd-blue;
    }
  }

  &__cat-marker a::before {
    display: none !important;
  }
}

ul {
  margin: 0;
}

blockquote {
  margin: 0;
  padding-left: 2rem;

  &::before {
    font-size: 3rem;
  }
}

.pullquote {
  margin-right: 2rem;
  margin-left: 2rem;

  &::before {
    font-size: 3rem;
  }

  &::after {
    display: none;
  }
}

.heading--invert-box,
.list--accordion>li:nth-child(odd),
.vm-spotlight__callout,
.brand-textbox,
.focus-box__title {
  background-color: $gray-lighter;
  color: $ucd-blue;
}

.list--accordion>li:nth-child(even) {
  background-color: $white;
}

.category-brand {
  &__background,
  &__background--lighten {
    background-color: $gray-lighter !important;
    color: $ucd-blue !important;
  }

  &--knock-out {
    background-color: $white !important;
    color: $ucd-blue !important;
  }
}

.wysiwyg-feature-block {
  background-color: $gray-lighter;

  &__body {
    color: $ucd-blue;

    a {
      color: inherit;
    }

    h3,
    h4,
    h5,
    h6 {
      color: $ucd-blue;
    }
  }

  &__title {
    background: $gray-lighter;
    color: $ucd-blue !important;
  }
}

.l-header__branding {
  min-height: 0;
}

// Remove padding from nav offset.
.l-main {
  padding-top: 0 !important;
}

// Kill some margins and padding
.l-header__branding,
.sub-nav ul a,
.o-box,
.o-box--flush,
.o-box--tiny,
.o-box--small,
.o-box--large,
.o-box--huge {
  padding: 0;
}

.category-filter {
  &__list-item:before {
    display: none;
  }

  &__link {
    padding: 0;
  }
}

.panel__title {
  margin-bottom: 6pt !important;
  margin-left: 0 !important;
}

// Reduce images to save ink
img {
  max-width: 400px;
}

.vm-listing__figure img,
.vm-teaser__figure img {
  max-width: 100px;
}

.site-logo {
  width: inherit;
}
