<div class="layout-demo">

  <h2>Full Width</h2>
  <p>This will break out of a container to fill the screen Edge-to-Edge</p>
  <div class="l-container">
    <div class="l-full-width panel o-box">
      {{> molecules-alignable-promo }}
    </div>
  </div>

  <h2>2 Columns</h2>
  <div class="l-2col">
    <div class="l-first panel o-box">
      {{> molecules-alignable-promo }}
    </div>
    <div class="l-second panel o-box">
      {{> molecules-alignable-promo }}
    </div>
  </div>

  <h2>3 Columns - 25/50/25</h2>
  <div class="l-3col l-3col--25-50-25">
    <div class="l-first panel o-box">
      {{> molecules-alignable-promo }}
    </div>
    <div class="l-second panel o-box">
      {{> molecules-alignable-promo }}
    </div>
    <div class="l-third panel o-box">
      {{> molecules-alignable-promo }}
    </div>
  </div>

  <h2>4 Columns</h2>
  <div class="l-4col">
    <div class="l-first panel o-box">
      {{> molecules-alignable-promo }}
    </div>
    <div class="l-second panel o-box">
      {{> molecules-alignable-promo }}
    </div>
    <div class="l-third panel o-box">
      {{> molecules-alignable-promo }}
    </div>
    <div class="l-fourth panel o-box">
      {{> molecules-alignable-promo }}
    </div>
  </div>

</div>
