<nav id="primary-nav" class="primary-nav {{ styleModifier }}" aria-label="Main Menu">
  <ul class="menu" data-cy="primaryMenu">
    <li>
      <div class="primary-nav__top-link submenu-toggle__wrapper">
        <a href="#" data-cy="firstLink">About Us<span class="primary-nav__submenu-indicator"></span></a>
        <button class="submenu-toggle" aria-label="Toggle Submenu" data-cy="submenuToggle"><span class="submenu-toggle__icon"></span></button>
      </div>
      <ul class="menu" data-cy="submenu">
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Initiatives</a></li>
        <li>
          <div class="submenu-toggle__wrapper">
            <a href="#" data-cy="submenuFirstLink">Facts &amp; Rankings<span class="primary-nav__submenu-indicator"></span></a>
            <button class="submenu-toggle" aria-label="Toggle Submenu" data-cy="submenuSubToggle"><span class="submenu-toggle__icon"></span></button>
          </div>
          <ul class="menu" data-cy="subSubmenu">
            <li><a href="#">Child Item</a></li>
            <li><span class="primary-nav__nolink">Child Item 2</span></li>
            <li><a href="#">Child Item 3</a></li>
          </ul>
        </li>
        <li><a href="#" data-cy="secondLink">Locations &amp; Maps</a></li>
        <li><a href="#">Visit UC Davis</a></li>
        <li><a href="#">UC Davis Health</a></li>
        <li><a href="#">Administration</a></li>
      </ul>
    </li>
    <li><div class="primary-nav__top-link"><a href="#">Admissions</a></div></li>
    <li><div class="primary-nav__top-link"><a href="#">Academics</a></div></li>
    <li>
      <div class="primary-nav__top-link submenu-toggle__wrapper">
        <span class="primary-nav__nolink nolink" tabindex="0">Research<span class="primary-nav__submenu-indicator"></span></span>
        <button class="submenu-toggle" aria-label="Toggle Submenu"><span class="submenu-toggle__icon"></span></button>
      </div>
      <ul class="menu">
        <li><a href="#">Child Item</a></li>
        <li><span class="primary-nav__nolink">Child Item 2</span></li>
        <li><a href="#">Child Item 3</a></li>
      </ul>
    </li>
    <li><div class="primary-nav__top-link"><a href="#">Campus Life</a></div></li>
    <li><div class="primary-nav__top-link"><button class="primary-nav__button">Button</button></div></li>
    <li><div class="primary-nav__top-link"><a href="#">News</a></div></li>
  </ul>
</nav>
