<nav class="sub-nav" {{#if subnav-open }}data-menu-open{{/if }}>
  {{#if tertiary-page }}
    {{#if tertiary-page-linked }}
      <h2 class="sub-nav__title-linked"><a href="{{ url }}">{{ parent-page-title }}</a></h2>
    {{else}}
      <h2 class="sub-nav__title">{{ parent-page-title }}</h2>
    {{/if}}
  {{/if }}
  <ul class="sub-nav__menu">
    {{# subNavListOne }}
      <li>
        <div class="submenu-toggle__wrapper">
          <a href="{{ url }}">{{ currentPage }}</a>
          <button class="submenu-toggle" aria-label="Toggle Submenu" data-cy="subnav-toggle"><span class="submenu-toggle__icon"></span></button>
        </div>
        <ul data-cy="subnav-submenu">
          <li><a href="{{ url }}">child page</a></li>
          <li><a href="{{ url }}">child page</a></li>
          <li>
            <div class="submenu-toggle__wrapper">
              <a href="{{ url }}">child page</a>
              <button class="submenu-toggle" aria-label="Toggle Submenu" data-cy="subnav-child-toggle"><span class="submenu-toggle__icon"></span></button>
            </div>
            <ul data-cy="subnav-sub-submenu">
              <li><a href="{{ url }}">grandchild page</a></li>
              <li><a href="{{ url }}">grandchild page</a></li>
              <li><a href="{{ url }}">grandchild page</a></li>
              <li><a href="{{ url }}">grandchild page</a></li>
            </ul>
          </li>
          <li><span class="sub-nav__nolink">No Link</span></li>
          <li>
            <div class="submenu-toggle__wrapper">
              <span class="sub-nav__nolink">No Link Toggle</span>
              <button class="submenu-toggle" aria-label="Toggle Submenu"><span class="submenu-toggle__icon"></span></button>
            </div>
            <ul>
              <li><a href="{{ url }}">grandchild page</a></li>
              <li><a href="{{ url }}">grandchild page</a></li>
            </ul>
          </li>
          <li><a href="{{ url }}">child page</a></li>
        </ul>
      </li>
    {{/ subNavListOne }}
    {{# subNavListTwo }}
      <li><a href="{{ url }}">{{ siblingPageName }}</a></li>
    {{/ subNavListTwo }}
  </ul>
</nav>
