<ol class="breadcrumbs {{ styleModifier }}">
  {{#each breadcrumbs}}
    <li>
      {{#if @last}}
        {{ linkTitle }}
      {{else}}
        <a href="{{ url }}">{{ linkTitle }}</a>
      {{/if}}
    </li>
  {{/each}}
</ol>
