<ul class="pager pager--mini">
  <li class="pager__item pager__item--previous"><a href="{{ url }}">Prev</a></li>
  <li class="pager__item pager__item--current">Page 2</li>
  <li class="pager__item pager__item--next"><a href="{{ url }}">Next</a></li>
</ul>
