<h2>Primary Tabs</h2>
<ul class="tabs">
  <li><a href="{{ url }}" class="tabs__item tabs__item--active">Tab 1</a></li>
  <li><a href="{{ url }}" class="tabs__item">Tab 2</a></li>
  <li><a href="{{ url }}" class="tabs__item">Tab 3</a></li>
</ul>
<div class="tabs__content">
  <p>Lorem Ipsum</p>
</div>

<h2>Secondary Tabs</h2>
<ul class="tabs tabs--secondary">
  <li><a href="{{ url }}" class="tabs__item tabs__item--active">Tab 1</a></li>
  <li><a href="{{ url }}" class="tabs__item">Tab 2</a></li>
  <li><a href="{{ url }}" class="tabs__item">Tab 3</a></li>
</ul>
