<p><a href="#" class="btn">&lt;a&gt; Button</a></p>
<p><button class="btn">&lt;button&gt; Button</button></p>
<p><input type="submit" class="btn" value="<input> Button"></p>

<p><a class="btn btn--disabled">&lt;a&gt; Disabled Button</a></p>
<p><button class="btn" disabled>&lt;button&gt; Disabled Button</button></p>
<p><input type="submit" class="btn" value="<input> Button" disabled></p>

<p><a href="#" class="btn btn--lg">&lt;a&gt; Large Button</a></p>
<p><button class="btn btn--lg">&lt;button&gt; Large Button</button></p>
<p><input type="submit" class="btn btn--lg" value="<input> Button"></p>

<p><a href="#" class="btn btn--sm">&lt;a&gt; Small Button</a></p>
<p><button class="btn btn--sm">&lt;button&gt; Small Button</button></p>
<p><input type="submit" class="btn btn--sm" value="<input> Button"></p>

<p><a href="#" class="btn btn--round">&lt;a&gt; Round Button</a></p>
<p><button class="btn btn--round">&lt;button&gt; Round Button</button></p>
<p><input type="submit" class="btn btn--round" value="<input> Button"></p>

<p><a href="#" class="btn btn--block">&lt;a&gt; Block Button</a></p>
<p><button class="btn btn--block">&lt;button&gt; Block Button</button></p>
<p><input type="submit" class="btn btn--block" value="<input> Button"></p>
