<p><a href="#" class="btn btn--primary">Primary Button</a></p>
<p><input type="submit" class="btn btn--primary" value="<input> Button"></p>

<p><a class="btn btn--primary btn--disabled">Disabled Primary Button</a></p>

<p><a href="#" class="btn btn--primary btn--lg">Large Primary Button</a></p>

<p><a href="#" class="btn btn--primary btn--sm">Small Primary Button</a></p>

<p><a href="#" class="btn btn--primary btn--round">Round Primary Button</a></p>

<p><a href="#" class="btn btn--primary btn--block">Block Primary Button</a></p>
