<p><a href="#" class="btn btn--alt">Alternative Button</a></p>

<p><a class="btn btn--alt btn--disabled">Disabled Alternative Button</a></p>

<p><a href="#" class="btn btn--alt btn--lg">Large Alternative Button</a></p>

<p><a href="#" class="btn btn--alt btn--sm">Small Alternative Button</a></p>

<p><a href="#" class="btn btn--alt btn--round">Round Alternative Button</a></p>

<p><a href="#" class="btn btn--alt btn--block">Block Alternative Button</a></p>
