<p><a href="#" class="btn btn--alt2">Alternative 2 Button</a></p>

<p><a class="btn btn--alt2 btn--disabled">Disabled Alternative 2 Button</a></p>

<p><a href="#" class="btn btn--alt2 btn--lg">Large Alternative 2 Button</a></p>

<p><a href="#" class="btn btn--alt2 btn--sm">Small Alternative 2 Button</a></p>

<p><a href="#" class="btn btn--alt2 btn--round">Round Alternative 2 Button</a></p>

<p><a href="#" class="btn btn--alt2 btn--block">Block Alternative 2 Button</a></p>
