<p><a href="#" class="btn btn--alt3">Alternative 3 Button</a></p>

<p><a class="btn btn--alt3 btn--disabled">Disabled Alternative 3 Button</a></p>

<p><a href="#" class="btn btn--alt3 btn--lg">Large Alternative 3 Button</a></p>

<p><a href="#" class="btn btn--alt3 btn--sm">Small Alternative 3 Button</a></p>

<p><a href="#" class="btn btn--alt3 btn--round">Round Alternative 3 Button</a></p>

<p><a href="#" class="btn btn--alt3 btn--block">Block Alternative 3 Button</a></p>
