<p><a href="#" class="btn btn--invert">Invert Button</a></p>

<p><a class="btn btn--invert btn--disabled">Disabled Invert Button</a></p>

<p><a href="#" class="btn btn--invert btn--lg">Large Invert Button</a></p>

<p><a href="#" class="btn btn--invert btn--sm">Small Invert Button</a></p>

<p><a href="#" class="btn btn--invert btn--round">Round Invert Button</a></p>

<p><a href="#" class="btn btn--invert btn--block">Block Invert Button</a></p>
