<section class="u-clearfix">
  <div class="u-align--left">{{> atoms-thumbnail }}</div>
  <p><mark>.u-align--left</mark> Align an element to the left in larger screen sizes.</p>
</section>

<section class="u-clearfix">
  <div class="u-align--center">
    {{> atoms-thumbnail }}
    <p><mark>.u-align--center</mark> Align an element to the center.</p>
  </div>
</section>

<section class="u-clearfix">
  <div class="u-align--right">{{> atoms-thumbnail }}</div>
  <p><mark>.u-align--right</mark> Align an element to the right in larger screen sizes.</p>
</section>

<h2>Responsive Media Alignment</h2>

<section class="u-clearfix">
  <div class="u-align--left">{{> atoms-focal-link }}</div>
  <p><mark>.u-align--left</mark> This will remain floated until there is not enough room for text.</p>
</section>

<section class="u-clearfix">
  <div class="u-align--right">{{> atoms-landscape-4x3 }}</div>
  <p><mark>.u-align--right</mark> This stacked early when the image no longer allows room for text on the side.</p>
</section>
