<section style="background-color: transparent" class="u-bg--opaque">
  <p><mark>.u-bg--opaque</mark> is used on this section to force a white background.</p>

  <div style="background-color: red" class="u-bg--transparent">
    <p><mark>.u-bg--transparent</mark> is overriding the inline red background color.</p>
  </div>

  <div style="color: pink" class="u-error">.u-error</div>
  <div style="color: pink" class="u-warning">.u-warning</div>
  <div style="color: pink" class="u-success">.u-success</div>
  <div style="color: pink" class="u-info">.u-info</div>
</section>
