<p><strong>Read the Pattern Info for documentation.</strong></p>

<h2>Margin Spacers</h2>

<section>
  <p class="u-space-mx"><mark>.u-space-mx</mark> adds a margin-left and margin-right.</p>
  <p class="u-space-my"><mark>.u-space-my</mark> adds a margin-top and margin-bottom.</p>
  <p class="u-space-ml"><mark>.u-space-ml</mark> adds a margin-left.</p>
  <p class="u-space-ml--small"><mark>.u-space-ml--small</mark> is half the space.</p>
  <p class="u-space-ml--medium"><mark>.u-space-ml--medium</mark> is one and a half the space.</p>
  <p class="u-space-ml--large"><mark>.u-space-ml--large</mark> is double the space.</p>
  <p class="u-space-ml--huge"><mark>.u-space-ml--huge</mark> is 4x the space.</p>
  <p class="u-space-ml--vast"><mark>.u-space-ml--vast</mark> is 8x the space.</p>
  <p class="u-space-ml--flush"><mark>.u-space-ml--flush</mark> - override to make flush.</p>
</section>

<h2>Padding Spacers</h2>

<section>
  <p class="u-space-px"><mark>.u-space-px</mark> adds a padding-left and padding-right.</p>
  <p class="u-space-py"><mark>.u-space-py</mark> adds a padding-top and padding-bottom.</p>
  <p class="u-space-pl"><mark>.u-space-pl</mark> adds a padding-left.</p>
  <p class="u-space-pl--small"><mark>.u-space-pl--small</mark> is half the space.</p>
  <p class="u-space-pl--medium"><mark>.u-space-pl--medium</mark> is one and a half the space.</p>
  <p class="u-space-pl--large"><mark>.u-space-pl--large</mark> is double the space.</p>
  <p class="u-space-pl--huge"><mark>.u-space-pl--huge</mark> is 4x the space.</p>
  <p class="u-space-pl--vast"><mark>.u-space-pl--vast</mark> is 8x the space.</p>
  <p class="u-space-pl--flush"><mark>.u-space-pl--flush</mark> - override to make flush.</p>
</section>

<h2>Remove default vertical margin collapsing</h2>

<section class="u-space--no-margin-collapse">
  <p class="u-space-my"><mark>.u-space--no-margin-collapse</mark> Margins no longer collapse.</p>
  <p class="u-space-my">Be aware that this can cause problems due to changing the display type.</p>
</section>