<section class="u-width--half" style="background-color: pink">
  <mark>.u-width--half</mark>
</section>

<section class="u-width--one-third" style="background-color: pink">
  <mark>.u-width--one-third</mark>
</section>

<section class="u-width--two-thirds" style="background-color: pink">
  <mark>.u-width--two-thirds</mark>
</section>
