<p><strong>See Pattern Info for more classes and documentation.</strong></p>

<section class="u-block" style="background-color: pink">
  <mark>.u-block</mark>
</section>

<section class="u-inline-block" style="background-color: pink">
  <mark>.u-inline-block</mark>
</section>

<section class="u-inline" style="background-color: pink">
  <mark>.u-inline</mark>
</section>
