<section class="o-pack">
  <div class="o-pack__item">
    <p>Pack Item 1</p>
    <p>Force all items into a horizontal space.</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 2</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 3</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 4</p>
  </div>
</section>

<h3>Allow space to automatically be adjusted.</h3>

<section class="o-pack o-pack--auto">
  <div class="o-pack__item">
    <p>Pack Item 1: I have more info in me so I fill the space.</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 2</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 3</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 4</p>
  </div>
</section>

<h3>Reverse the direction.</h3>

<section class="o-pack o-pack--rev">
  <div class="o-pack__item">
    <p>Pack Item 1</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 2</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 3</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 4</p>
  </div>
</section>

<h3>Add small gutters.</h3>

<section class="o-pack o-pack--small">
  <div class="o-pack__item">
    <p>Pack Item 1</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 2</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 3</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 4</p>
  </div>
</section>

<h3>Add large gutters.</h3>

<section class="o-pack o-pack--large">
  <div class="o-pack__item">
    <p>Pack Item 1</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 2</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 3</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 4</p>
  </div>
</section>