<section class="o-flow">
  <div>
    <p>The Flow object creates consistent vertical spacing between siblings.</p>
  </div>
  <ul>
    <li>Flow Item 2</li>
  </ul>
  <blockquote>
    <p>Flow Item 3</p>
  </blockquote>
  <div>
    <p>Flow Item 4</p>
  </div>
</section>
