<video width="640" height="360" controls="" class="{{ styleModifier }}">
  <source src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="video/mp4">
  <source src="http://clips.vorwaerts-gmbh.de/VfE.webm" type="video/webm">
  <source src="http://clips.vorwaerts-gmbh.de/VfE.ogv" type="video/ogg">
  <img src="" width="640" height="360" alt="Big Buck Bunny" title="No video playback capabilities, please download">
</video>