<div class="responsive-iframe responsive-iframe--16x9 {{ styleModifier }}">
  <iframe src="https://cdnapisec.kaltura.com/p/1770401/sp/177040100/embedIframeJs/uiconf_id/24976561/partner_id/1770401?iframeembed=true&playerId=kaltura_player_&flashvars[nextPrevBtn.plugin]=true&flashvars[playlistAPI.kpl0Id]={{ videoPlaylistId }}" width="{{videoWidth}}" height="{{videoHeight}}" frameborder="0" allowfullscreen title="Aggie Video Playlist" loading="lazy"></iframe>
</div>
