<h2>Aggie Blue and Aggie Gold</h2>
<ul class="sg-colors">
  {{#each colors.brand }}
    <li>
      <span class="sg-swatch" style="background: {{ hex }};"></span>
      <span class="sg-label">
        {{#if label }}{{ label }} <br />{{/if}}
        {{#if variable }}{{ variable }} <br />{{/if}}
        {{ hex }}
      </span>
    </li>
  {{/each}}
</ul>

<h2>UC Davis Blue Tints</h2>
<p>Custom mix. Straight tints of the blue will not work; please use only the color values below.</p>
<ul class="sg-colors">
  {{#each colors.brandPrimaryTint }}
    <li>
      <span class="sg-swatch" style="background: {{ hex }};"></span>
      <span class="sg-label">
        {{#if label }}{{ label }} <br />{{/if}}
        {{#if variable }}{{ variable }} <br />{{/if}}
        {{ hex }}
      </span>
    </li>
  {{/each}}
</ul>

<h2>UC Davis Gold Tints</h2>
<ul class="sg-colors">
  {{#each colors.brandSecondaryTint }}
    <li>
      <span class="sg-swatch" style="background: {{ hex }};"></span>
      <span class="sg-label">
        {{#if label }}{{ label }} <br />{{/if}}
        {{#if variable }}{{ variable }} <br />{{/if}}
        {{ hex }}
      </span>
    </li>
  {{/each}}
</ul>

<h2>Black Tints</h2>
<ul class="sg-colors">
  {{#each colors.black }}
    <li>
      <span class="sg-swatch" style="background: {{ hex }};"></span>
      <span class="sg-label">
        {{#if label }}{{ label }} <br />{{/if}}
        {{#if variable }}{{ variable }} <br />{{/if}}
        {{ hex }}
      </span>
    </li>
  {{/each}}
</ul>

<h2>Secondary Colors</h2>
<p>For best results in multicolored publications, restrict secondary color choices to a maximum of two or three beyond UC Davis gold or blue. In fact, UC Davis blue, UC Davis gold and black for text are sufficient for effective publication design that unmistakably communicates UC Davis’ identity.</p>
<p>The colors below offer great secondary color flexibility while providing a reasonably limited palette. Please do not introduce other secondary colors into UC Davis publications.</p>
<p><strong>Use secondary colors only as accents, never as dominant colors or backgrounds.</strong></p>
<ul class="sg-colors">
  {{#each colors.secondaryColors }}
    <li class="{{ class }}">
      <span class="sg-swatch" style="background: {{ hex }};"></span>
      <span class="sg-label">
        {{#if label }}{{ label }} <br />{{/if}}
        {{#if variable }}{{ variable }} <br />{{/if}}
        {{ hex }}
      </span>
    </li>
  {{/each}}
</ul>
