<p>Primary font: "proxima-nova", system-ui, "Segoe UI", "Helvetica Neue", Arial, sans-serif;</p>
<p><em>Primary font italic: "proxima-nova", system-ui, "Segoe UI", "Helvetica Neue", Arial, sans-serif;</em></p>
<p><strong>Primary font bold: "proxima-nova", system-ui, "Segoe UI", "Helvetica Neue", Arial, sans-serif;</strong></p>
<p style="font-weight: 800">Primary font extra bold: "proxima-nova", system-ui, "Segoe UI", "Helvetica Neue", Arial, sans-serif;</p>
<p class="font--secondary">Secondary font: "Ryman Eco", Georgia "Times New Roman", Times, serif;</p>
<p class="font--secondary"><em>Secondary font italic: "Ryman Eco", Georgia "Times New Roman", Times, serif;</em></p>
<p class="font--secondary"><strong>Secondary font bold: "Ryman Eco", Georgia "Times New Roman", Times, serif;</strong></p>
<p class="font--monospace">Monospace font: Menlo, Monaco, Consolas, "Courier New", monospace;</p>
