@use "../0_tools" as *;

// Add Proxima Nova fonts
@include font-face(Proxima-Nova, "https://campusfont.ucdavis.edu/proxima-nova/proximanova_regular_macroman/proximanova-regular-webfont", 400, normal);
@include font-face(Proxima-Nova, "https://campusfont.ucdavis.edu/proxima-nova/proximanova_bold_macroman/proximanova-bold-webfont", 700, normal);
@include font-face(Proxima-Nova, "https://campusfont.ucdavis.edu/proxima-nova/proximanova_extrabold_macroman/proximanova-extrabold-webfont", 800, normal);
@include font-face(Proxima-Nova, "https://campusfont.ucdavis.edu/proxima-nova/proximanova_italic_macroman/proximanova-regularit-webfont", 400, italic);
@include font-face(Proxima-Nova, "https://campusfont.ucdavis.edu/proxima-nova/proximanova_bolditalic_macroman/proximanova-boldit-webfont", 700, italic);
@include font-face(Proxima-Nova, "https://campusfont.ucdavis.edu/proxima-nova/proximanova_extrabolditalic_macroman/proximanova-extraboldit-webfont", 800, italic);
@include font-face(proxima-nova, "https://campusfont.ucdavis.edu/proxima-nova/proximanova_light_macroman/proximanova-light-webfont", 200, normal);
@include font-face(proxima-nova, "https://campusfont.ucdavis.edu/proxima-nova/proximanova_lightitalic_macroman/proximanova-lightit-webfont", 200, italic);

// Add Ryman Eco font.
@font-face {
  font-display: swap;
  font-family: "Ryman Eco";
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ryman-eco.woff2") format("woff2"),
    url("../fonts/ryman-eco.woff") format("woff"),
    url("../fonts/ryman-eco.svg#Ryman Eco") format("svg");
  unicode-range: U+0020-00FE;
}
