<div class="layout-demo">

  <div class="l-quad">
    <div class="l-quad__region">
      <div class="panel o-box o-box--large">
        {{ excerpt.short }}
      </div>
    </div>
    <div class="l-quad__region">
      <div class="panel o-box o-box--large">
        {{ excerpt.short }}
      </div>
    </div>
    <div class="l-quad__region">
      <div class="panel o-box o-box--large">
        {{ excerpt.short }}
      </div>
    </div>
    <div class="l-quad__region">
      <div class="panel o-box o-box--large">
        {{ excerpt.short }}
      </div>
    </div>
  </div>

</div>
