<div class="layout-demo">

  <div class="l-quad--third">
    <div class="l-quad__region panel o-box">
      {{ excerpt.short }}
    </div>
    <div class="l-quad__region panel o-box">
      {{ excerpt.short }}
    </div>
    <div class="l-quad__region panel o-box">
      {{ excerpt.short }}
    </div>
  </div>

</div>
