<div class="layout-demo">

  <div class="l-quad--1x2x1">
    <div class="l-first panel o-box">
      {{ excerpt.short }}
    </div>
    <div class="l-second panel o-box">
      {{ excerpt.short }}
    </div>
    <div class="l-third panel o-box">
      {{ excerpt.short }}
    </div>
    <div class="l-fourth panel o-box">
      {{ excerpt.short }}
    </div>
  </div>

</div>
