<div class="layout-demo">

  <div class="l-quad--1x3">
    <div class="l-first panel o-box">
      {{ excerpt.short }}
    </div>
    <div class="l-second panel o-box">
      {{ excerpt.short }}
    </div>
    <div class="l-third panel o-box">
      {{ excerpt.short }}
    </div>
    <div class="l-fourth panel o-box">
      {{ excerpt.short }}
    </div>
  </div>

</div>

<div class="layout-demo">
  <p>Shown as missing the first region, but still rendering the bottom 3 correct
    due to named regions.</p>

  <div class="l-quad--1x3">
    <div class="l-quad__region l-quad__region--second panel o-box">
      {{ excerpt.short }}
    </div>
    <div class="l-quad__region l-quad__region--third panel o-box">
      {{ excerpt.short }}
    </div>
    <div class="l-quad__region l-quad__region--fourth panel o-box">
      {{ excerpt.short }}
    </div>
  </div>

</div>