<div class="panel">
  <h2 class="panel__title">Panel Title</h2>
  <section>
    <p>Panel content, block, or other element</p>
  </section>
</div>

<div class="panel panel--intro">
  <h2 class="panel__title">Panel Title Intro</h2>
  <section>
    <p>Paragraph Text</p>
  </section>
</div>

<div class="panel panel--weighted-underline">
  <h2 class="panel__title">Panel Title Weighted Underline</h2>
  <section>
    <p>Paragraph Text</p>
  </section>
</div>

<div class="panel panel--center-underline">
  <h2 class="panel__title">Panel Title Center Underline</h2>
  <section>
    <p>Paragraph Text</p>
  </section>
</div>

<div class="panel panel--auxiliary">
  <h2 class="panel__title">Panel Title Auxilary</h2>
  <section>
    <p>Paragraph Text</p>
  </section>
</div>

<div class="panel panel--icon panel--icon-mustang">
  <h2 class="panel__title">Panel Title Icon</h2>
  <section>
    <p>Paragraph Text</p>
  </section>
</div>

<div class="panel panel--icon panel--icon-custom">
  <h2 class="panel__title"><span class="panel__custom-icon fab fa-accessible-icon"></span>Panel Title Custom Icon</h2>
  <section>
    <p>Paragraph Text</p>
  </section>
</div>

<div class="panel panel--icon panel--icon-alerts panel--icon-strawberry">
  <h2 class="panel__title">Panel Title Colored Icon</h2>
  <section>
    <p>Paragraph Text</p>
  </section>
</div>

<div class="brand-textbox panel panel--icon panel--icon-mustang category-brand--evergreen">
  <h2 class="panel__title">Panel Title in Brand Textbox</h2>
  <section>
    <p>Paragraph Text</p>
  </section>
</div>

<div class="panel panel--mobile-collapse" data-cy="panel-collapse">
  <h2 class="panel__title">Mobile Collapse</h2>
  <section class="panel__content">
    <p>This section is collapsed in mobile and will expand when the title is clicked.</p>
  </section>
</div>
