<main class="l-main">
  <h1>Branded Page Titles</h1>
  {{> organisms-page-title }}
  {{#each colors.brandCategory }}
    {{> organisms-page-title categoryBrand=class title="Page Title" }}
  {{/each}}
</main>
