<main class="l-main">
  <h1>Branded Collapse</h1>
  {{> molecules-collapse }}

  {{#each colors.brandCategory }}
    <div class="{{class}}">
      {{#with @root}}
        {{> molecules-collapse }}
      {{/with}}
    </div>
  {{/each}}
</main>
