<main class="l-main">
  <h1>Featured Teasers</h1>
  {{> molecules-teaser-event featured="true" }}

  {{#each colors.brandCategory }}
    <div class="{{class}}">
      {{#with @root}}
        {{> molecules-teaser-event featured="true" }}
      {{/with}}
    </div>
  {{/each}}
</main>
