<main class="l-main">
  <h1>Poster VM</h1>
  {{> molecules-poster }}

  {{#each colors.brandCategory }}
    <div class="{{class}}">
      {{#with @root}}
        {{> molecules-poster }}
      {{/with}}
    </div>
  {{/each}}
</main>
