<main class="l-main">
  <h1>Spotlight VM</h1>
  {{> molecules-spotlight }}

  {{#each colors.brandCategory }}
    <div class="{{class}}">
      {{#with @root}}
        {{> molecules-spotlight }}
      {{/with}}
    </div>
  {{/each}}
</main>
