<main class="l-main">
  <h1>Focus Box</h1>
  {{> molecules-focus-box }}

  {{#each colors.brandCategory }}
    <div class="{{class}}">
      {{#with @root}}
        {{> molecules-focus-box }}
      {{/with}}
    </div>
  {{/each}}
</main>
