<main class="l-main">
  <h1>Branded Textboxs</h1>
  {{> molecules-brand-textbox }}

  {{#each colors.brandCategory }}
    <div class="{{class}}">
      {{#with @root}}
        {{> molecules-brand-textbox textBoxCollapseID=@index }}
      {{/with}}
    </div>
  {{/each}}
</main>
