<main class="l-main">
  <h1>Featured Marketing Highlights</h1>
  {{> molecules-marketing-highlight styleModifier="category-brand--rec-pool" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--tahoe" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--gunrock" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--bodega" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--rain" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--arboretum" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--putah-creek" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--delta" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--farmers-market" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--sage" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--quad" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--redwood" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--golden-state" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--sunflower" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--poppy" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--california" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--rose" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--strawberry" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--double-decker" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--merlot" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--thiebaud-icing" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--redbud" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--pinot" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--cabernet" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--centennial-walk-gray" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--primary" modifierClass="marketing-highlight--featured"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--secondary" modifierClass="marketing-highlight--featured"}}
</main>
