<main class="l-main">
  <h1>Branded Marketing Highlights</h1>
  {{> molecules-marketing-highlight styleModifier="category-brand--admin-blue  "}}
  {{> molecules-marketing-highlight styleModifier="category-brand--rec-pool"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--tahoe"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--gunrock"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--bodega"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--rain"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--arboretum"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--putah-creek"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--delta"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--farmers-market"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--sage"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--quad"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--redwood"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--golden-state"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--sunflower"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--poppy"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--california"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--rose"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--strawberry"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--double-decker"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--merlot"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--thiebaud-icing"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--redbud"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--pinot"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--cabernet"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--centennial-walk-gray"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--primary"}}
  {{> molecules-marketing-highlight styleModifier="category-brand--secondary"}}
</main>
