<main class="l-main">
  <h1>Marketing Highlight Horizontal</h1>
  {{> molecules-marketing-highlight-horizontal }}

  {{#each colors.brandCategory }}
    <div class="{{class}}">
      {{#with @root}}
        {{> molecules-marketing-highlight-horizontal }}
      {{/with}}
    </div>
  {{/each}}
</main>
