<main class="l-main">
  <h1>Vertical Links</h1>
  {{> molecules-vertical-link isCircle="true" icon="fas fa-atlas" }}

  {{#each colors.brandCategory }}
    <div class="{{class}}">
      {{#with @root}}
        {{> molecules-vertical-link isCircle="true" icon="fas fa-atlas" }}
      {{/with}}
    </div>
  {{/each}}
</main>
