<main class="l-main">
  <h1>Vertical Links</h1>
  {{> molecules-vertical-link isTiltCircle="true" icon="fas fa-heart-pulse" }}

  {{#each colors.brandCategory }}
    <div class="{{class}}">
      {{#with @root}}
        {{> molecules-vertical-link isTiltCircle="true" icon="fas fa-heart-pulse" }}
      {{/with}}
    </div>
  {{/each}}
</main>
