<main class="l-main">
  <h1>Focal Links</h1>
  {{> molecules-focal-link-icon icon="fas fa-atlas" }}

  {{#each colors.brandCategory }}
    <div class="{{class}}">
      {{#with @root}}
        {{> molecules-focal-link-icon icon="fas fa-atlas" }}
      {{/with}}
    </div>
  {{/each}}
</main>
