<main class="l-main">
  <h1>Block Quote</h1>
  {{> molecules-pullquote }}

  {{#each colors.brandCategory }}
    <div class="{{class}}">
      {{#with @root}}
        <section class="brand-textbox category-brand__background ">
          {{> molecules-pullquote }}
        </section>
      {{/with}}
    </div>
  {{/each}}
</main>
