<main class="l-main">
  <h1>Layout Section</h1>

  <div class="layout-section l-gutter layout-section--primary">
    <div class="panel">
      <h2>Section Background Colored - Primary (no forced contrast)</h2>
      <h2><a href="#">Linked Heading</a></h2>
      <p>Content <a href="#">Link</a></p>
      <p>
        <a href="#" class="btn btn--primary">Primary Button</a>
        <a href="#" class="btn btn--alt">Alternative Button</a>
        <a href="#" class="btn btn--invert">Inverted Button</a>
      </p>
      {{#with @root}}
        {{> molecules-figure-with-caption}}
      {{/with}}
    </div>
    <div class="panel">
      {{#with @root}}
        {{> molecules-alignable-promo }}
      {{/with}}
    </div>
    <div class="panel">
      {{#with @root}}
        {{> molecules-factoid modifierClass="factoid--brackets" brackets=true icon="fas fa-atlas" }}
      {{/with}}
    </div>
    <div class="panel">
      {{#with @root}}
        {{> molecules-vertical-link isTiltCircle="true" icon="fas fa-heart-pulse" }}
      {{/with}}
    </div>
    <div class="panel">
      {{#with @root}}
        {{> molecules-social-follow }}
      {{/with}}
    </div>
  </div>

  <div class="layout-section l-gutter layout-section--secondary">
    <div class="panel">
      <h2>Section Background Colored - Secondary (no forced contrast)</h2>
      <h2><a href="#">Linked Heading</a></h2>
      <p>Content <a href="#">Link</a></p>
      <p>
        <a href="#" class="btn btn--primary">Primary Button</a>
        <a href="#" class="btn btn--alt">Alternative Button</a>
        <a href="#" class="btn btn--invert">Inverted Button</a>
      </p>
      {{#with @root}}
        {{> molecules-figure-with-caption}}
      {{/with}}
    </div>
    <div class="panel">
      {{#with @root}}
        {{> molecules-alignable-promo }}
      {{/with}}
    </div>
    <div class="panel">
      {{#with @root}}
        {{> molecules-factoid modifierClass="factoid--brackets" brackets=true icon="fas fa-atlas" }}
      {{/with}}
    </div>
    <div class="panel">
      {{#with @root}}
        {{> molecules-vertical-link isTiltCircle="true" icon="fas fa-heart-pulse" }}
      {{/with}}
    </div>
    <div class="panel">
      {{#with @root}}
        {{> molecules-social-follow }}
      {{/with}}
    </div>
  </div>

  {{#each colors.sectionBrands }}
    <div class="layout-section l-gutter layout-section--force-contrast {{class}}">
      <div class="panel">
        <h2>Section Background Colored - {{label}}</h2>
        <h2><a href="#">Linked Heading</a></h2>
        <p>Content <a href="#">Link</a></p>
        <p>
          <a href="#" class="btn btn--primary">Primary Button</a>
          <a href="#" class="btn btn--alt">Alternative Button</a>
          <a href="#" class="btn btn--invert">Inverted Button</a>
        </p>
        {{#with @root}}
          {{> molecules-figure-with-caption}}
        {{/with}}
      </div>
      <div class="panel">
        {{#with @root}}
          {{> molecules-alignable-promo }}
        {{/with}}
      </div>
      <div class="panel">
        {{#with @root}}
          {{> molecules-factoid modifierClass="factoid--brackets" brackets=true icon="fas fa-atlas" }}
        {{/with}}
      </div>
      <div class="panel">
        {{#with @root}}
          {{> molecules-vertical-link isTiltCircle="true" icon="fas fa-heart-pulse" }}
        {{/with}}
      </div>
      <div class="panel">
        {{#with @root}}
          {{> molecules-social-follow }}
        {{/with}}
      </div>
    </div>
  {{/each}}

  <div class="layout-section l-gutter layout-section--force-contrast layout-section--light-on-dark" style="background-color: black;">
    <div class="panel">
      <h2>Section Background Light-on-Dark</h2>
      <p>Content <a href="#">Link</a></p>
      {{> atoms-blockquote }}
      {{> molecules-pullquote }}
      <p>
        <a href="#" class="btn btn--primary">Primary Button</a>
        <a href="#" class="btn btn--alt">Alternative Button</a>
        <a href="#" class="btn btn--invert">Inverted Button</a>
      </p>
    </div>
    <div class="panel">
      {{#with @root}}
        {{> molecules-alignable-promo }}
      {{/with}}
    </div>
    <div class="panel">
      {{#with @root}}
        {{> molecules-factoid modifierClass="factoid--brackets" brackets=true icon="fas fa-atlas" }}
      {{/with}}
    </div>
    <div class="panel">
      {{#with @root}}
        {{> molecules-vertical-link isTiltCircle="true" icon="fas fa-heart-pulse" }}
      {{/with}}
    </div>
    <div class="panel">
      {{#with @root}}
        {{> molecules-social-follow }}
      {{/with}}
    </div>

    <layout-columns columns="3" vmargin="3">
      <div slot="column1">
        <ul class="list--faq">
          <li>item 1</li>
          <li>item 2</li>
        </ul>
        <ul class="list--accordion">
          <li>item 1</li>
          <li>item 2</li>
        </ul>
        <ul class="list--pipe">
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
        <div class="{{class}}">
          {{#with @root}}
            {{> molecules-brand-textbox textBoxCollapseID=@index }}
          {{/with}}
        </div>
      </div>
      <div slot="column2">
        {{> molecules-teaser-article }}
        <div>
          {{> molecules-teaser-article featured="true" }}
          <br/>
          {{> molecules-vertical-link isCircle="true" icon="fas fa-atlas" }}
          {{> molecules-focal-link-icon icon="fas fa-atlas" }}
          {{> molecules-focus-box }}
          {{> molecules-marketing-highlight-horizontal }}
        </div>
        <br/>
        {{> molecules-marketing-highlight}}
        <br/>
        {{> molecules-marketing-highlight modifierClass="marketing-highlight--featured"}}
      </div>
      <div slot="column3">
        {{> molecules-teaser-article }}
        <div class="category-brand--california">
          {{> molecules-teaser-article featured="true" }}
          <br/>
          {{> molecules-vertical-link isCircle="true" icon="fas fa-atlas" }}
          {{> molecules-focal-link-icon icon="fas fa-atlas" }}
          {{> molecules-focus-box }}
          {{> molecules-marketing-highlight-horizontal }}
        </div>
        <br/>
        {{> molecules-marketing-highlight styleModifier="category-brand--california"}}
        <br/>
        {{> molecules-marketing-highlight styleModifier="category-brand--california" modifierClass="marketing-highlight--featured"}}
      </div>
    </layout-columns>
  </div>

  <div class="layout-section l-gutter layout-section--force-contrast layout-section--dark-on-light" style="background-color: lightgrey;">
    <div class="panel">
      <h2>Section Background Dark-on-Light</h2>
      <p>Content <a href="#">Link</a></p>
      {{> atoms-blockquote }}
      {{> molecules-pullquote }}
      <p>
        <a href="#" class="btn btn--primary">Primary Button</a>
        <a href="#" class="btn btn--alt">Alternative Button</a>
        <a href="#" class="btn btn--invert">Inverted Button</a>
      </p>
    </div>
    <div class="panel">
      {{#with @root}}
        {{> molecules-alignable-promo }}
      {{/with}}
    </div>
    <div class="panel">
      {{#with @root}}
        {{> molecules-factoid modifierClass="factoid--brackets" brackets=true icon="fas fa-atlas" }}
      {{/with}}
    </div>
    <div class="panel">
      {{#with @root}}
        {{> molecules-vertical-link isTiltCircle="true" icon="fas fa-heart-pulse" }}
      {{/with}}
    </div>
    <div class="panel">
      {{#with @root}}
        {{> molecules-social-follow }}
      {{/with}}
    </div>

    <layout-columns columns="3" vmargin="3">
      <div slot="column1">
        <ul class="list--faq">
          <li>item 1</li>
          <li>item 2</li>
        </ul>
        <ul class="list--accordion">
          <li>item 1</li>
          <li>item 2</li>
        </ul>
        <ul class="list--pipe">
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
        <div class="{{class}}">
          {{#with @root}}
            {{> molecules-brand-textbox textBoxCollapseID=@index }}
          {{/with}}
        </div>
      </div>
      <div slot="column2">
        {{> molecules-teaser-article }}
        <div>
          {{> molecules-teaser-article featured="true" }}
          <br/>
          {{> molecules-vertical-link isCircle="true" icon="fas fa-atlas" }}
          {{> molecules-focal-link-icon icon="fas fa-atlas" }}
          {{> molecules-focus-box }}
          {{> molecules-marketing-highlight-horizontal }}
        </div>
        <br/>
        {{> molecules-marketing-highlight}}
        <br/>
        {{> molecules-marketing-highlight modifierClass="marketing-highlight--featured"}}
      </div>
      <div slot="column3">
        {{> molecules-teaser-article }}
        <div class="category-brand--california">
          {{> molecules-teaser-article featured="true" }}
          <br/>
          {{> molecules-vertical-link isCircle="true" icon="fas fa-atlas" }}
          {{> molecules-focal-link-icon icon="fas fa-atlas" }}
          {{> molecules-focus-box }}
          {{> molecules-marketing-highlight-horizontal }}
        </div>
        <br/>
        {{> molecules-marketing-highlight styleModifier="category-brand--california"}}
        <br/>
        {{> molecules-marketing-highlight styleModifier="category-brand--california" modifierClass="marketing-highlight--featured"}}
      </div>
    </layout-columns>
  </div>
</main>
