<main class="l-main">
  <h1>Alignable Promo</h1>
  {{> molecules-alignable-promo }}

  {{#each colors.brandCategory }}
    <div class="{{class}}">
      {{#with @root}}
        {{> molecules-alignable-promo }}
      {{/with}}
    </div>
  {{/each}}
</main>
