<main class="l-main">
  <h1>Tile Links</h1>

  {{#each colors.brandCategory }}
    <div class="{{class}}">
      {{#with @root}}
          {{> molecules-tile-link }}
      {{/with}}
    </div>
  {{/each}}
</main>
