<main class="l-main">
  <h1>Photo Cards</h1>

  {{#each colors.brandCategory }}
    <div class="{{class}}">
      {{#with @root}}
          {{> molecules-photo-card }}
      {{/with}}
    </div>
  {{/each}}
</main>
