<main class="l-main">
  <h1>Factoids</h1>

  {{#each colors.brandCategory }}
    <div class="{{class}}">
      {{#with @root}}
          {{> molecules-factoid modifierClass="factoid--brackets" brackets=true icon="fas fa-atlas"}}
      {{/with}}
    </div>
  {{/each}}
</main>
