<fieldset>
  <div class="field-container">
    <label for="selectpicker">Select</label>
    <select id="selectpicker">
      <optgroup label="Option Group">
        <option>Option One</option>
        <option>Option Two</option>
        <option>Option Three</option>
      </optgroup>
      <optgroup label="Option Group">
        <option>Option Four</option>
        <option>Option Five</option>
        <option>Option Six</option>
      </optgroup>
    </select>
  </div>
  <div class="field-container">
    <label for="selectpicker2">Select</label>
    <select id="selectpicker2" class="slim-select" multiple>
      <optgroup label="Option Group">
        <option>Option One</option>
        <option>Option Two</option>
        <option>Option Three</option>
      </optgroup>
      <optgroup label="Option Group">
        <option>Option Four</option>
        <option>Option Five</option>
        <option>Option Six</option>
      </optgroup>
    </select>
  </div>
</fieldset>