<form action="#">
  <fieldset class="checkbox">
    <legend>Styled Checkbox <abbr title="Required">*</abbr></legend>
    <ul class="list--reset">
      <li><input id="styled-checkbox1" name="checkbox" type="checkbox" checked="checked"><label for="styled-checkbox1">Choice A</label></li>
      <li><input id="styled-checkbox2" name="checkbox" type="checkbox"><label for="styled-checkbox2">Choice B</label></li>
      <li><input id="styled-checkbox3" name="checkbox" type="checkbox"><label for="styled-checkbox3">Choice C</label></li>
    </ul>
  </fieldset>
</form>
