<form action="#">
  <fieldset class="radio">
    <legend>Styled Radio</legend>
    <ul class="list--reset">
      <li><input id="styled-radio1" name="radio" type="radio" class="radio" checked="checked"><label for="styled-radio1">Option 1</label></li>
      <li><input id="styled-radio2" name="radio" type="radio" class="radio"><label for="styled-radio2">Option 2</label></li>
      <li><input id="styled-radio3" name="radio" type="radio" class="radio"><label for="styled-radio3">Option 3</label></li>
    </ul>
  </fieldset>
</form>
