<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <title>{{ title }}</title>

    <script type="module">
      document.documentElement.classList.add('js');
    </script>

    <link rel="preload" href="https://campusfont.ucdavis.edu/proxima-nova/proximanova_regular_macroman/proximanova-regular-webfont.woff2" as="font" type="font/woff" crossorigin="true" />
    <link rel="stylesheet" href="../../pl/css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css" crossorigin="anonymous">
    {{!-- Vite needs the raw source paths in dev, but prod needs compiled assets. --}}
    {{#if productionBuild }}
      <link rel="stylesheet" href="../../assets/vendor.css?{{ cacheBuster }}" media="all" />
      <link rel="stylesheet" href="../../assets/style.css?{{ cacheBuster }}" media="all" />
      <link rel="stylesheet" href="../../assets/print.css?{{ cacheBuster }}" media="print" />
      <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.10.0/cdn/shoelace-autoloader.js"></script>
      <script src="../../assets/main.js?{{ cacheBuster }}" type="module"></script>
    {{else}}
      <link rel="stylesheet" href="/sass/vendor.scss" media="all" />
      <link rel="stylesheet" href="/sass/style.scss" media="all" />
      <link rel="stylesheet" href="/sass/print.scss" media="print" />
      <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.10.0/cdn/shoelace-autoloader.js"></script>
      <script src="/js/main.js" type="module"></script>
    {{/if}}

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}">
